<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">YATT CORPORATED</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myEntretienModal" >
                            	<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false && currentUser.postNom().contentEquals('Mecanicien') == false}" type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer nouveau</button>
                            </a>
			                <!-- ============================================================== -->
			                          <!-- MODEL CREATE EMPLOYE -->
			                <!-- ============================================================== -->
                            <div id="myEntretienModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myEntretienModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Entretien</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
			                                <form class="form-horizontal p-t-20" enctype="multipart/form-data" th:action="@{/entretien/save-entretien}" th:object="${newEntretien}" method="post">
												<!-- NOM -->
												<div class="form-group row" th:classappend="${titreError} ? 'has-danger' : ''">
			                                        <label class="col-md-3 control-label">Titre*</label>
			                                        <div class="col-md-9">
			                                            <div class="input-group">
			                                                <input th:field="*{Titre}" type="text" required="required" class="form-control" th:classappend="${titreError} ? 'form-control-danger' : ''" id="exampleInputuname3" placeholder="Nom">
															<div th:if="${titreError}" class="form-control-feedback">Sorry, that titre's taken!</div>
			                                            </div>
			                                        </div>
			                                    </div>
			                                    
												<!-- ENGIN -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">ENGINS</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{engin}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="engin : ${enginList}" th:value="${engin.getIdEngin()}" th:text="${engin.getRef()}">Category</option>
                                                        </select>
                                                    </div>
                                                </div>

												<!-- PRENOM -->
												<div class="form-group row">
			                                        <label for="exampleInputuname3" class="col-sm-3 control-label">Description*</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <textarea th:field="*{description}" required="required" class="form-control" id="exampleInputuname3" placeholder="Please, be more specific"></textarea>
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- DATE -->
                                                <div class="form-group row" th:classappend="${dateError} ? 'has-danger' : ''">
                                                    <label for="web" class="col-sm-3 control-label">Date</label>
                                                    <div class="col-md-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
															<input th:field="*{date}" type="date" required="required" class="form-control" th:classappend="${dateerror} ? 'form-control-danger' : ''" placeholder="dd/mm/yyyy">
															<div th:if="${dateError}" class="form-control-feedback">Sorry, date must more less than dateProchain</div>
			                                            </div>
                                                    </div>
                                                </div>

												<!-- DATE ENTRETIEN PROCHAIN -->
                                                <div class="form-group row" th:classappend="${dateError} ? 'has-danger' : ''">
                                                    <label for="web" class="col-sm-3 control-label">Date prochain</label>
                                                    <div class="col-md-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
															<input th:field="*{dateProchain}" type="date" required="required" class="form-control" th:classappend="${dateerror} ? 'form-control-danger' : ''" placeholder="dd/mm/yyyy">
															<div th:if="${dateError}" class="form-control-feedback">Sorry, date must more less than dateProchain</div>
			                                            </div>
                                                    </div>
                                                </div>

<!-- 												MECANICEN LIST -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">MECANICIEN</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{mecanicien}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="mecanicien : ${mecanicienList}" th:value="${mecanicien.getId()}" th:text="${mecanicien.getUsername()}">Category</option>
                                                        </select>
                                                    </div>
                                                </div>
<!-- 			                                    <div class="form-group row"> -->
<!-- 			                                        <label for="web" class="col-sm-3 control-label">MECANICIENS</label> -->
<!--                                                     <div class="col-md-9" style="height:200px;overflow:auto;"> -->
<!-- 													 <table class="table table-bordered table-hover table-striped"> -->
<!-- 														<thead> -->
<!-- 															<tr> -->
<!-- 																<th>Choix</th> -->
<!-- 																<th>Mecaniciens</th> -->
<!-- 															</tr> -->
<!-- 														</thead> -->
<!-- 														<tbody> -->
<!-- 															<tr th:each="mecanicien : ${mecanicienList}"> -->
<!-- 																<td> -->
<!-- 																	<input type="checkbox" class="tableTr" name="mecaniciens" th:value="${mecanicien.getId()}"> -->
<!-- 																</td> -->
<!-- 																<td th:text="${mecanicien.getUsername()}" th:id="${mecanicien.getId()}">nom</td> -->
<!-- 															</tr> -->
<!-- 														</tbody> -->
<!-- 													</table> -->
<!-- 													</div> -->
<!-- 			                                    </div> -->
						                    
							                    <!-- SAVE BUTTON -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-info">Save</button>
													<button type="button" class="btn btn-default waves-effect"
														data-dismiss="modal">Cancel</button>
												</div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

</body>
</html>