<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>
<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
       <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
          <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Enregistrement d'un entretien</h4>
                    </div>
                  <!--   <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/creer-nouveau-employe}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Remplir le formullaire</h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->

                               <div class="container my-5">
				       
				        <div class="card">
				            <div class="card-body">
				                <div class="col-md-10">
				                     <form action="#" th:action="@{/entretien/saveEntretien}" th:object="${entretien}" method="post">
                                <div class="card-body">
                                    <div class="d-md-flex no-block align-items-center">
                                        <h4 class="card-title">Nouvel entretien</h4>
                                    </div>
                                    <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
                                        <span class="badge badge-info"><i class="fas fa-info"></i></span>
                                        <strong>Formuliare d'enregistrement</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <h6 class="card-subtitle">Enregistrer un entretien de vehicule<code>.action-form</code> cliquer sur save pour enregistrer <code></code></h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="fname1" class="control-label col-form-label">Nom du mecanicien</label>
                                               <select id="responsable" th:field="*{employe}">
																		  <option th:each="employe : ${mecaniciens}" th:value="${employe.idEmploye}" th:text="${employe.poste}"></option>
																		</select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="email2" class="control-label col-form-label">Date d'entretien</label>
                                                    <input type="date"  th:field="*{date}"  class="form-control" id="date" placeholder="date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="cono1" class="control-label col-form-label">Numero d'Immatriculation du vehicule</label>
                                                    <input type="text"  class="form-control" id="cono1" placeholder="matricule">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="donate1" class="control-label col-form-label">Type de Vehicule</label>
                                                <input type="text" class="form-control" id="donate1" placeholder="Type ">
                                            </div>
                                        </div>
                                       <!--  <div class="col-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="control-label col-form-label">Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Amount" aria-label="Amount (to the nearest dollar)">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label col-form-label">Tache effectuee</label>
                                                <textarea class="form-control" id="exampleTextarea1" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <!-- Laisser un commentaire -->
                                         <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label col-form-label">Votre commentaire</label>
                                                <textarea class="form-control"  id="exampleTextarea1" rows="3" placeholder="Commentaire"></textarea>
                                            </div>
                                        </div>
                                        
                                         <div class="col-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="email2" class="control-label col-form-label">Date prochain</label>
                                                    <input type="date"  th:field="*{dateProchain}"  class="form-control" id="date" placeholder="rendez-vous prochain">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="action-form">
                                        <div class="form-group mb-0 text-center">
                                            <button type="submit" class="btn btn-info waves-effect waves-light">Enregistrer</button>
                                            <button type="submit" class="btn btn-dark waves-effect waves-light">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
               
				  </div>
				            </div>
				        </div>
				    </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                 <div th:replace ="lienBas"> </div>
</body>

</html>