<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Gestion des employes  -->
<div layout:fragment="entretien_table" class="row">
	<!-- Table -->
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="right-page-header">
					<div class="d-flex">
						<div class="align-self-center">
							<h4 class="card-title m-t-10">Engins</h4>
						</div>
						<div class="ml-auto">
							<input type="text" id="demo-input-search2"
								placeholder="recherche par titre" onkeyup="searchOnType()"
								class="form-control">
						</div>
					</div>
				</div>
				<div class="well">
					<div class="table-responsive">
						<table id="demo-foo-addrow" class="table color-bordered-table inverse-bordered-table"
							data-paging="true" data-paging-size="7">
							<thead>
								<tr>
									<th>#</th>
									<th>Titre</th>
									<th>Engin</th>
									<th>Description</th>
									<th>Fait le</th>
									<th>Date prochaine</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="myTableBody">
								<tr th:each="entretien : ${entretiens}">
									<td th:text="${entretien.getIdEntretien()}">id</td>
									<td th:text="${entretien.getTitre()}">titre</td>
									<td th:text="${entretien.getEngin()}">engin</td>
									<td th:text="${#strings.abbreviate(entretien.getDescription(),80)}">description</td>
									<td th:text="${#dates.format(entretien.date, 'dd-MMM-yyyy')}"></td>
									<td th:text="${#dates.format(entretien.dateProchain, 'dd-MMM-yyyy')}"></td>
									<td>
										<div class="btn-group">
											<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false && currentUser.postNom().contentEquals('Mecanicien') == false}" type="button" class="btn btn-dark dropdown-toggle"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												<i class="ti-settings"></i>
											</button>
											<div class="dropdown-menu animated slideInUp"
												x-placement="bottom-start"
												style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
												<a class="dropdown-item" th:href="@{'/entretien/editEntretien/' + ${entretien.idEntretien}}"><i class="ti-pencil-alt"></i> Modifier</a> 
												<a class="dropdown-item" href="#" th:onclick="|entretienDeleteConfirmation(${entretien.getIdEntretien()})|"><i class="ti-trash"></i> Supprimer</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script th:src="@{/dist/js/customs/entretienDeleteConfirmation.js}"></script>
</html>