<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- ============================================================== -->
<!-- MODEL CREATE EMPLOYE -->
<!-- ============================================================== -->
<div id="modal_nouveau_entretien" class="modal fade in" tabindex="-1"
	role="dialog" aria-labelledby="myEntretienModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Add entretien</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal p-t-20" enctype="multipart/form-data"
					th:action="@{/entretien/saveEntretien}" th:object="${newEntretien}"
					method="post">
					<!-- NOM -->
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Titre*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-user"></i></span>
								</div>
								<input th:field="*{titre}" type="text" required="required"
									class="form-control" id="exampleInputuname3" placeholder="Nom">
							</div>
						</div>
					</div>

					<!-- MECANIEN -->
					<div class="form-group row">
						<label class="control-label col-md-3">Mecanicien</label>
						<div class="col-md-9">
							<select th:field="*{mecanicien}" class="form-control custom-select"
								data-placeholder="Choose a Category" tabindex="1">
								<option th:each="mecanicien : ${mecaniciens}" th:value="${mecanicien.id}"
									th:text="${mecanicien.getNom()}">Category</option>
							</select>
						</div>
					</div>

					<!-- ENGIN -->
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Engin*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<table>
									<tr th:each="engin : ${engins}">
										<td><input type="checkbox" th:field="*{engin}"
											name="certificate" th:value="${engin.getId()}" /></td>
										<td><label th:text="${engin.getNom()}"></label></td>
									</tr>
									<tr>
										<td colspan="2"><input type="submit" value="Add" /></td>
									</tr>
								</table>
							</div>
						</div>
					</div>

					<!-- PRENOM -->
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Description*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-user"></i></span>
								</div>
								<textarea rows="5" th:field="*{description}" type="text" required="required"
									class="form-control" id="exampleInputuname3"
									placeholder="Prenom"></textarea>
							</div>
						</div>
					</div>

					<!-- USERNAME -->
					<div class="form-group row"
						th:classappend="${username} ? 'has-danger' : ''">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-user"></i></span>
								</div>
								<input th:field="*{username}" type="text" required="required"
									class="form-control"
									th:classappend="${username} ? 'form-control-danger' : ''"
									id="exampleInputuname3" placeholder="Username">
								<div th:if="${username}" class="form-control-feedback">Sorry,
									that username's taken or less than 6 characters !</div>
							</div>
						</div>

						<!-- EMAIL -->
					</div>
					<div class="form-group row"
						th:classappend="${email} ? 'has-danger' : ''">
						<label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-email"></i></span>
								</div>
								<input th:field="*{email}" type="email" required="required"
									class="form-control"
									th:classappend="${email} ? 'form-control-danger' : ''"
									id="exampleInputEmail3" placeholder="Enter email">
								<div th:if="${email}" class="form-control-feedback">Sorry,
									that email's taken or Invalid. Try another !</div>
							</div>
						</div>
					</div>

					<!-- Phone -->
					<div class="form-group row">
						<label for="web" class="col-sm-3 control-label">Phone</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="mdi mdi-cellphone"></i></span>
								</div>
								<input th:field="*{phone}" type="number" required="required"
									class="form-control" id="web" placeholder="Enter Phone Number">
							</div>
						</div>
					</div>

					<!-- ROLE -->
					<div class="form-group row">
						<label class="control-label col-md-3">Roles</label>
						<div class="col-md-9">
							<select th:field="*{poste}" class="form-control custom-select"
								data-placeholder="Choose a Category" tabindex="1">
								<option th:each="post : ${postes}" th:value="${post.id}"
									th:text="${post.nom}">Category</option>
							</select>
						</div>
					</div>

					<!-- SALAIRE -->
					<div class="form-group row">
						<label for="web" class="col-sm-3 control-label">Salaire</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="mdi mdi-cash-usd"></i></span>
								</div>
								<input th:field="*{salaire}" type="number" class="form-control"
									id="web" placeholder="Enter Amount">
							</div>
						</div>
					</div>

					<!-- ADRESSE -->
					<div class="form-group row">
						<label for="web" class="col-sm-3 control-label">Adresse</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="mdi mdi-home-map-marker"></i></span>
								</div>
								<input th:field="*{adresse}" type="text" class="form-control"
									id="web" placeholder="Enter Adresse">
							</div>
						</div>
					</div>

					<!-- DATE D'EMBAUCHE -->
					<div class="form-group row">
						<label for="web" class="col-sm-3 control-label">Date</label>
						<div class="col-md-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="mdi mdi-calendar-question"></i></span>
								</div>
								<input th:field="*{date}" type="date" required="required"
									class="form-control" placeholder="dd/mm/yyyy">
							</div>
						</div>
					</div>

					<!-- PROFILE IMAGE -->
					<div class="col-lg-12 col-md-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Upload Profile Image</h4>
								<!-- <label for="input-file-now">Your so fresh input file — Default version</label> -->
								<input type="file" id="input-file-now" name="file"
									class="dropify" />
							</div>
						</div>
					</div>

					<!-- SAVE BUTTON -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-info">Save</button>
						<button type="button" class="btn btn-default waves-effect"
							data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
</html>