<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace = "haut"></head>
<body class="skin-default-dark fixed-layout">
    <!-- ============================================================== -->
      <div layout:fragment="preload" th:replace="/EmployeTemplates/preload.html"> </div>
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header th:replace="/EmployeTemplates/header.html"></header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside th:replace = "EmployeTemplates/menu_aside.html"></aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                
                <div th:replace="/ReparationTemplates/modalReparation.html"></div>
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des Reparations</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                       <!--  <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalReparation">
                            	<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false}" type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div> -->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="right-page-header">
									<div class="d-flex">
										<div class="align-self-center">
											<h4 class="card-title m-t-10">Reparation</h4>
										</div>
										<div class="ml-auto">
											<input type="text" id="demo-input-search2"
												placeholder="Recherche par nom" onkeyup="searchOnType()"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table id="demo-foo-addrow" class="table color-bordered-table inverse-bordered-table"
									data-paging="true" data-paging-size="7">
										<thead>
											<tr>
												<th>N°</th>
												<th>Panne</th>
												<th>Date</th>
												<th>Description</th>
												<th>Action</th>
												<!--  <th>Responsable</th>
                                                <th>Engin</th>  -->
											</tr>
										</thead>
										<tbody id="myTableBody">
											<tr th:each="reparation : ${reparations}">
												<td th:text="${reparation.idReparation}">id</td>
												<td th:text="${reparation.panne}">panne</td>
												<td th:text="${#dates.format(reparation.getDateReparation(), 'dd-MMM-yyyy')}"></td>
												<td th:text="${reparation.description}">description</td>
												<!--  <td th:text="${chantier.adresse}"> adresse </td>
                                                <td th:text="${chantier.adresse}"> adresse </td> -->
												<!--   <td th:text="${chantier.DateDebut}"> adresse </td> -->
												


												<!--    <td  th:text="${#temporals.format(chantier.DateDebut,'dd-MM-yyyy')}"></td>  -->

												<!--  <td th:text="${chantier.Datefin}"> adresse </td> -->

												<!--   <td th:text="${chantier.responsable}"> responsable </td>
                                                <td th:text="${chantier.engin}"> engin </td> -->
												<!--  <td >
                                                	<a th:href="@{'/chantier/editChantier/' + ${chantier.idChantier}}">MODIFIER</a>
                                                	&nbsp;&nbsp;||&nbsp;&nbsp;
                                                	<a th:href="@{'/chantier/deleteChantier/' + ${chantier.idChantier}}">DELETE</a>
                                                	&nbsp;&nbsp;||&nbsp;&nbsp;
                                                	<a th:href="@{'/chantier/detailChantier/' + ${chantier.idChantier}}">DETAIL</a>
                                                </td> -->


												<td>
													<div class="btn-group">
														<button
															th:disabled="${currentUser.postNom().contentEquals('Responsable') == false}"
															type="button" class="btn btn-dark dropdown-toggle"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">
															<i class="ti-settings"></i>
														</button>
														<div class="dropdown-menu animated slideInUp"
															x-placement="bottom-start"
															style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
															<a class="dropdown-item"
																th:href="@{'/reparation/editReparation/' + ${reparation.idReparation}}"><i
																class="ti-pencil-alt"></i> Modifier</a> <a
																class="dropdown-item" href="#"
																th:onclick="|reparationDeleteConfirmation(${reparation.getIdReparation()})|"
																id="sa-passparameter" alt="alert"><i
																class="ti-trash"></i> Supprimer</a>
															<!-- <a class="dropdown-item" th:href="@{'/engin/etat-engin/' + ${engin.idEngin}}"><i
                                                                    class="ti-comment-alt"></i> Etats</a> -->

														</div>
													</div>
												</td>

												<!--                                                 <td th:text=""><span class="label label-danger">admin</span> </td> -->
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
			</div>

		<script th:src="@{/assets/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
		<script th:src="@{/assets/node_modules/sweetalert2/sweet-alert.init.js}"></script>
		<script type="text/javascript">
			function reparationDeleteConfirmation(id) {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'mr-2 btn btn-danger'
					},
					buttonsStyling: false,
				})

				swalWithBootstrapButtons.fire({
					title: 'Etes vous sure?',
					text: "Vous ne pourrez revenir en arriere!",
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Oui, supprimer!',
					cancelButtonText: 'Non, annuler!',
					reverseButtons: true
				}).then((result) => {
					if (result.value) {
						swalWithBootstrapButtons.fire(
							'Supprimer!',
							'reparation a ete supprimer.',
							'success'
						),
						window.location.replace("/reparation/deleteReparation/"+id);
					} else if (
						// Read more about handling dismissals
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Annuler',
							'Suupression annuler',
							'error'
						)
					}
				})
			}
		</script>
<!-- 		<script th:src="@{/dist/js/pages/toastr.js}"></script> -->
		<script type="text/javascript">
			var successfulUpdate = [[${successfulUpdate}]];
			var successfulCreate = [[${successfulCreate}]];
		    $(function(){
				"use strict";
				if(successfulUpdate == true){
				   $.toast({
					heading: 'NOTIFICATION',
					text: 'Mise a jour du reparation reussite.',
					position: 'top-right',
					loaderBg:'#ff6849',
					icon: 'info',
					hideAfter: 3000, 
					stack: 6
				  });
				}else if(successfulCreate == true){
				   $.toast({
					heading: 'NOTIFICATION',
					text: 'reparation creer avec success.',
					position: 'top-right',
					loaderBg:'#ff6849',
					icon: 'info',
					hideAfter: 3000, 
					stack: 6
				  });
				}
			 });
		</script>
		<!--Wave Effects -->
		<script th:src="@{/assets/node_modules/toast-master/js/jquery.toast.js}"></script>
	   <script th:inline="javascript">
		var modalShow = [[${modalShow}]];
		if(modalShow == true){
			 $(document).ready(function(){
				$("#modalReparation").modal('show');
			});
		}
		</script>
		<script th:src="@{/dist/js/customs/searchOnType.js}"></script>
</body>

</html>