<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
             <div layout:fragment="modalReparation.html" class="row page-titles"></div>
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">YATT CORPORATED</h4>
                    </div>
 
			                <!-- ============================================================== -->
			                          <!-- MODEL CREATE EMPLOYE -->
			                <!-- ============================================================== -->
                            <div id="modalReparation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="modalReparations" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Reparation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
			                                <form class="form-horizontal p-t-20" enctype="multipart/form-data" th:action="@{/reparation/saveReparation}" th:object="${reparation}" method="post">
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Mecanicien</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{mecanicien}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="meca : ${mecanicienlist}" th:value="${meca.getId()}" th:text="${meca.getNom()}">Mecanicien</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
												
												<!-- DATE DE REPARATION-->
                                                <div class="form-group row">
                                                    <label for="web" class="col-sm-3 control-label">Date</label>
                                                    <div class="col-md-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
															<input th:field="*{dateReparation}" type="date" required="required" class="form-control" placeholder="dd/mm/yyyy">
			                                            </div>
                                                    </div>
                                                </div>
                                                
							                    <!-- Panne -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Panne</label>
                                                    <div class="col-md-9">
                                                         <select th:field="*{panne}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="panne : ${pannelist}" th:value="${panne.idPanne}" th:text="${panne.description}">Panne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
												<!-- REPARATION EFFECTUE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Description de la reparation</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-home-map-marker"></i></span></div>
			                                                <textarea name="shortDescription"  th:field=*{description} type="text" class="form-control" id="web" placeholder="description"></textarea>
			                                            </div>
			                                        </div>
			                                    </div>
												<!-- COUT DE REPARATION -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Cout de la reparation</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cash-usd"></i></span></div>
			                                                <input th:field="*{coutDeReparation}" type="number" class="form-control" id="web" placeholder="Enter Amount">
			                                            </div>
			                                        </div>
			                                    </div>
												
												  <!-- SAVE BUTTON -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-info">Save</button>
													<button type="button" class="btn btn-default waves-effect"
														data-dismiss="modal">Cancel</button>
												</div>
												
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
              
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
</body>
</html>