<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
         <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des reparations</h4>
                    </div>
                    <!-- <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
              <!-- Gestion des reparations  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Formullaire de reparation </h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                               <div class="container my-5">
				        <div class="card">
				            <div class="card-body">
				                <div class="col-md-10">
				                     <form  th:action="@{/reparation/saveReparation/}" th:object="${reparation}" method="post">
				                    
				                    		<!-- Phone -->
				                    		<div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label"></label>
			                                        <div class="col-sm-9">
			                                                <input th:field="*{idReparation}" type="text" hidden  class="form-control" id="webe" placeholder="reparation">
			                                        </div>
			                                    </div>
			                                    
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Panne</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{panne}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="panne : ${pannelist}" th:value="${panne.getIdPanne()}" th:text="${panne.getTitre()}">Panne</option>
                                                        </select>
                                                    </div>
                                                </div>
			                                    <div class="form-group row">
                                                    <label class="control-label col-md-3">Mecanicien</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{mecanicien}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="meca : ${mecanicienlist}" th:value="${meca.getId()}" th:text="${meca.getUsername()}">Mecanicien</option>
                                                        </select>
                                                    </div>
                                                </div>
			                                      <!-- DATE DE REPARATION-->
                                                <div class="form-group row">
                                                    <label for="web" class="col-sm-3 control-label">Date</label>
                                                    <div class="col-md-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
															<input th:field="*{dateReparation}" type="date" required="required" class="form-control" placeholder="dd/mm/yyyy">
			                                            </div>
                                                    </div>
                                                </div>
                                                
                                                	<!-- ADRESSE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Description des taches effectues</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-home-map-marker"></i></span></div>
			                                              <textarea name="shortDescription"  th:field=*{description} type="text" class="form-control" id="webs" placeholder="Descriver les taches effectuees"></textarea>
			                                            </div>
			                                        </div>
			                                    </div>
                                                
                                                
                                                <!-- COUT DE REPARATION -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Cout de la reparation</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cash-usd"></i></span></div>
			                                                <input th:field="*{coutDeReparation}" type="number" class="form-control" id="webt" placeholder="Enter Amount">
			                                            </div>
			                                        </div>
			                                    </div>
												
												  <!-- SAVE BUTTON -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-info">Save</button>
												 <a th:href="@{/reparation/touseparations}"><button type="button" class="btn btn-default waves-effect"
														data-dismiss="modal">Cancel</button></a>	
												</div>
                                            </form>
				                </div>
				            </div>
				        </div>
				    </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
				</div>
				</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
              
</body>

</html>