<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
         
           <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des chantiers</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <!-- <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div> -->
                    </div>
                </div>
                
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
              <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Enregistrer reparation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
			                                <form action="#" th:action="@{/reparation/saveReparation/}" th:object="${reparation}" method="post">
												
												<!-- Phone -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Date de la reparation</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cellphone"></i></span></div>
			                                                <input th:field="*{dateReparation}" type="date" required="required" class="form-control" id="web" placeholder="Enter Phone Number">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    
												<!-- NOM -->
												<!-- ROLE -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Nom du mecanicien</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{mecanicien}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="mecanicien : ${mecanicienlist}" th:value="${mecanicien.idMecanicien}" th:text="${mecanicien.nom}">Category</option>
                                                        </select>
                                                    </div>
                                                </div>


													

												<!-- ROLE -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Panne</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{panne}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="panne : ${pannelist}" th:value="${panne.idPanne}" th:text="${panne.description}">Category</option>
                                                        </select>
                                                    </div>
                                                </div>

													<!-- ADRESSE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Description des taches</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-home-map-marker"></i></span></div>
			                                              <textarea name="shortDescription"  th:field=*{description} type="text" class="form-control" id="web" placeholder="description"></textarea>
			                                            </div>
			                                        </div>
			                                    </div>
												<!-- SALAIRE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Cout de la reparation</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cash-usd"></i></span></div>
			                                                <input th:field=*{coutDeReparation} type="number" class="form-control" id="web" placeholder="Enter Amount">
			                                            </div>
			                                        </div>
			                                    </div>
							                    
                                            <!--   <!--   <!-- PROFILE IMAGE -->
												<!-- <div class="col-lg-12 col-md-12">
							                        <div class="card">
							                            <div class="card-body">
							                                <h4 class="card-title">Upload Profile Image</h4>
							                                <label for="input-file-now">Your so fresh input file — Default version</label>
							                                <input type="file" id="input-file-now" name="file" class="dropify" />
							                            </div>
							                        </div> -->
							                  <!--   </div> --> 
							                     
							                    <!-- SAVE BUTTON -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-info">Save</button>
													<button type="button" class="btn btn-default waves-effect"
														data-dismiss="modal">Cancel</button>
												</div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            
                <!-- ============================================================== -->
                          <!-- CREATE ROLES -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
</body>

</html>