<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajouter-Engin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Ajouter Nouveau Engin</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                
                    <form action="#" th:action="@{/save-engin}" th:object="${engin}" method="post">
                        <div class="row">
                        
                             <div class="form-group col-md-8">
                                <label for="nom" class="col-form-label">Nom</label> <input type="text" th:field="*{nom}" class="text-danger"></span>
                            </div> 
                            
                            <div class="form-group col-md-8">
                                <label for="typeEngin" class="col-form-label">Type d'engin</label> <input type="text" th:field="*{typeEngin}" class="text-danger"></span>
                            </div>

							 <div class="form-group col-md-8">
                                <label for="dateCirculation" class="col-form-label">Date de Circulation</label> <input type="text" th:field="*{dateCirculation}" class="text-danger"></span>
                            </div>
							
							<!--  <div class="form-group col-md-8">
				                 <label>Approvisionner:</label><br>
								  	<select th:field="*{approvisionners}">
								  		<option th:each="approvionner : ${approvlist}" th:value="${approvionner.idApprovionner}" th:text = "${approvisionner.nom}">
								  	</select> <br> <br>
                            </div> -->
                            
							 <div class="form-group col-md-8">
				                 <label>Chantier:</label><br>
								  	<select th:field="*{chantier}">
								  		<option th:each="chantier : ${chantierlist}" th:value="${chantier.idChantier}" th:text = "${chantier.nom}">
								  	</select> <br> <br>
                            </div>
							 <div class="form-group col-md-8">
				                 <label>Panne:</label><br>
								  	<select th:field="*{pannes}">
								  		<option th:each="panne : ${pannelist}" th:value="${panne.idPanne}" th:text = "${panne.description}">
								  	</select> <br> <br>
                            </div>
							 <div class="form-group col-md-8">
				                 <label>Entretien:</label><br>
								  	<select th:field="*{entretien}">
								  		<option th:each="entretien : ${entretienlist}" th:value="${entretien.idEntretien}" th:text = "${entretien.description}">
								  	</select> <br> <br>
                            </div>
							 <div class="form-group col-md-8">
				                 <label>Conducteur:</label><br>
								  	<select th:field="*{conducteur}">
								  		<option th:each="conducteur : ${conducteurlist}" th:value="${conducteur.idConducteur}" th:text = "${conducteur.super.nom}">
								  	</select> <br> <br>
                            </div>
							
							
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-success" value="Ajouter Engin">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>