<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div class="row">
		<!-- column -->
		<div class="col-lg-12">
			<div class="card">
				<div th:if="${updateOk}" class="form-control-feedback">Engin
					update successfully</div>
				<form class="form-horizontal p-t-20" enctype="multipart/form-data"
					th:action="@{/engin/save-edit-engin}"
					th:object="${engin}" method="post">
					<!-- No -->
					<div class="form-group">
						<label class="col-md-12">No</label>
						<div class="col-md-9">
							<input th:readonly="${true}" th:field="*{idEngin}" type="number"
								th:value="${idEngin}" required="required"
								class="form-control form-control-line" id="exampleInputuname3"
								placeholder="Nom">
						</div>
					</div>

					<!-- NOM -->
					<div class="form-group row" th:classappend="${refError} ? 'has-danger' : ''">
						<div class="col-md-9">
							<label class="col-md-3 control-label">Reference*</label>
							<div class="input-group">
								<input th:field="*{ref}" type="text" required="required"
									class="form-control"
									th:classappend="${refError} ? 'form-control-danger' : ''"
									id="exampleInputuname3" placeholder="Nom">
								<div th:if="${refError}" class="form-control-feedback">Sorry,
									that ref's taken!</div>
							</div>
						</div>
					</div>
					
					<!-- TYPE ENGIN -->
					<div class="form-group row">
						<div class="col-md-9">
							<label for="exampleInputuname3" class="col-sm-3 control-label">Type d'engin*</label>
							<div class="input-group">
								<input th:field="*{typeEngin}" required="required"
									class="form-control" id="exampleInputuname3"
									placeholder="type engin">
							</div>
						</div>
					</div>

					<!-- DATE -->
					<div class="form-group row">
						<div class="col-md-9">
							<label for="web" class="col-sm-3 control-label">Date</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="mdi mdi-calendar-question"></i></span>
								</div>
								<input th:field="*{dateCirculation}" type="date"
									required="required" class="form-control"
									placeholder="dd/mm/yyyy">
							</div>
						</div>
					</div>

					<!-- ENTRETIEN LIST -->
					<div class="form-group row">
						<div class="col-md-6" style="height: 200px; overflow: auto;">
							<label for="web" class="col-sm-3 control-label">ENTRETIENS</label>
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Entretiens</th>
										<th class="text-center">
											<div class="action-btn">
												<a href="javascript:void(0)" class="delete-multiple text-danger">Delete</a>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="entretien : ${entretienList}">
										<td th:text="${entretien.getIdEntretien()}"> </td>
										<td th:text="${entretien.getTitre()}" th:id="${entretien.getIdEntretien()}">nom</td>
										<td th:if="${currentUser.postNom().contentEquals('Responsable') == true}" class="text-center">
											<div class="action-btn">
												<a href="#" th:onclick="|entretienDeleteConfirmation(${entretien.getIdEntretien()})|" class="text-dark delete ml-2" alt="alert"><i class="mdi mdi-delete font-20"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-md-6" style="height: 200px; overflow: auto;">
							<label for="web" class="col-sm-3 control-label">PANNES</label>
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Pannes</th>
										<th class="text-center">
											<div class="action-btn">
												<a href="javascript:void(0)" class="delete-multiple text-danger">Delete</a>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="panne : ${panneList}">
										<td th:text="${panne.getIdPanne()}"> </td>
										<td th:text="${panne.getTitre()}" th:id="${panne.getIdPanne()}">nom</td>
										<td th:if="${currentUser.postNom().contentEquals('Responsable') == true}" class="text-center">
											<div class="action-btn">
												<a href="#" th:onclick="|panneDeleteConfirmation(${panne.getIdPanne()})|" class="text-dark delete ml-2" alt="alert"><i class="mdi mdi-delete font-20"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="form-group row">
						 <!-- CHANTIER LIST -->
						<div class="col-md-6" style="height: 200px; overflow: auto;">
							<label for="web" class="col-sm-3 control-label">CHANTIERS</label>
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Chantier</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="chantier : ${chantierList}">
										<td th:text="${chantier.getIdChantier()}"></td>
										<td th:text="${chantier.getNom()}" th:id="${chantier.getIdChantier()}">nom</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- CONDUCTEUR LIST -->
						<div class="col-md-6" style="height: 200px; overflow: auto;">
							<label for="web" class="col-sm-3 control-label">CONDUCTEURS</label>
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>Choix</th>
										<th>Conducteur</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="conducteur : ${conducteurList}">
										<td th:if="${#lists.contains(engin.getConducteur(), conducteur) == true}"><input type="checkbox" class="tableTr" checked name="conducteursSelected" th:value="${conducteur.getId()}"> </td>
										<td th:if="${#lists.contains(engin.getConducteur(), conducteur) == false}"><input type="checkbox" class="tableTr" name="conducteursSelected" th:value="${conducteur.getId()}"> </td>
										<td th:text="${conducteur.getUsername()}"
											th:id="${conducteur.getId()}">nom</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- SAVE BUTTON -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-info">Save</button>
						<button type="button" class="btn btn-default waves-effect"
							data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/assets/node_modules/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<script th:src="@{/assets/node_modules/sweetalert2/sweet-alert.init.js}"></script>
	<script th:src="@{/dist/js/customs/entretienDeleteConfirmation.js}"></script>
	<script th:src="@{/dist/js/customs/panneDeleteConfirmation.js}"></script>
</body>
</html>