<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Gestion des employes  -->
<div layout:fragment="engin_table" class="row">
	<!-- column -->
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="right-page-header">
					<div class="d-flex">
						<div class="align-self-center">
							<h4 class="card-title m-t-10">Engins</h4>
						</div>
						<div class="ml-auto">
							<input type="text" id="demo-input-search2"
								placeholder="recherche par reference" onkeyup="searchOnType()"
								class="form-control">
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table id="demo-foo-addrow" class="table color-bordered-table inverse-bordered-table"
						data-paging="true" data-paging-size="7">
						<thead>
							<tr>
								<th>#</th>
								<th>Ref</th>
								<th>Type d'engin</th>
								<th>Date de circulation</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="myTableBody">
							<tr th:each="engin : ${engins}">
								<td th:text="${engin.idEngin}">id</td>
								<td th:text="${engin.ref}">ref</td>
								<td th:text="${engin.typeEngin}">typeEngin</td>
								<td th:text="${#dates.format(engin.dateCirculation, 'dd-MMM-yyyy')}"> <td>
									<div class="btn-group">
										<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false}" type="button" class="btn btn-dark dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<i class="ti-settings"></i>
										</button>
										<div class="dropdown-menu animated slideInUp"
											x-placement="bottom-start"
											style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
											<a class="dropdown-item" th:href="@{'/engin/editEngin/' + ${engin.idEngin}}"><i class="ti-pencil-alt"></i> Modifier</a> 
											<a class="dropdown-item" href="#" th:onclick="|enginDeleteConfirmation(${engin.getIdEngin()})|"><i class="ti-trash"></i> Supprimer</a> 
										</div>
									</div>
								</td>

								<!-- <td >
												<a th:href="@{'/engin/editEngin/' + ${engin.idEngin}}">MODIFIER</a>
												&nbsp;&nbsp;||&nbsp;&nbsp;
												<a th:href="@{'/deleteEngin/' + ${engin.idEngin}}">DELETE</a>
												&nbsp;&nbsp;||&nbsp;&nbsp;
												<a th:href="@{'/engin/detailsEngin/' + ${engin.idEngin}}">Voir plus</a>
											</td> -->
								<!--                                                 <td th:text=""><span class="label label-danger">admin</span> </td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

	<script th:src="@{/dist/js/customs/enginDeleteConfirmation.js}"></script>
</html>