<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
           <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 col-12 align-self-center">
                        <h3 class="text-themecolor mb-0">Etat de l'engin </h3>
                    </div>
                    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                        <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Detail</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- basic table -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Engin N <label th:text="${engin.idEngin}"></label> </h4>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                               <form action="#" th:action="@{/save-engin}" th:object="${engin}" method="post">
                                <h4 class="card-title">Dernier entretien : <label  th:text="${#dates.format(engin.dateCirculation, 'dd-MMM-yyyy')}"></label> </h4>
                                <ul class="list-unstyled mt-5">
                                    <li class="media">
                                        <div class="media-body">
                                          <h4 class="card-title">Tache effectues: </h4>
                                            <h5 class="mt-0 mb-1"><label>Description des tache:</label> <label th:text="${engin.nom}"></label>  
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="media my-4">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Panne</h5> <label th:text="${engin.pannes}"></label>  
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Chantier</h5> <label th:text="${engin.chantier}"></label> 
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">Conducteur</h5><label th:text="${engin.conducteur}"></label>  
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="media">
                                        <div class="media-body">
                                            <a th:href="@{/engin/tousengins}"> <button type="button" class="mt-3 btn waves-effect waves-info btn-danger">Cancel</button></a> 
                                        	
                                        </div>
                                    </li>
                                    <hr>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                              <form action="#" th:action="@{/save-engin}" th:object="${engin}" method="post">
                                <h4 class="card-title" th:field="*{nom}">Nouvel entretien</h4>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row text-center">
                                    <div class="col-6 mt-2 mb-2">
                                        <span class="badge badge-warning">Dernier entretien du vehicul</span>
                                    </div>
                                    <div class="col-6 mt-2 mb-2">
                                        <label th:text="${#dates.format(engin.dateCirculation, 'dd-MMM-yyyy')}"></label> 
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <h5 class="pt-3">Prenez un rendez vous pour l'entretien du vehicule</h5>
                                <br/>
                              <a th:href="@{/entretien/new-entretien}">   <button type="button" class="mt-3 btn waves-effect waves-light btn-success">Faire un entretien</button></a>
                             <a th:href="@{/entretien/tousentretiens}"> <button type="button" class="mt-3 btn waves-effect waves-info btn-info">Afficher les entretiens</button></a>   
                             </div>
                                 </form>
                                 
                            </div>
                        </div>
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
</body>

</html>