<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
 

                <!-- Gestion des engins  -->
                    <div th:fragment="next_attribut_engin" class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Remplir le formullaire</h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                               <div class="container my-5">
				           
				                    <form action="#" th:action="@{/engin/save-engin}" th:object="${engin}" method="post">
				                    
                       	 <div class="row">
                        
		                      <!--  <div class="well">
		                             <div class="form-group col-md-3">
		                                <label for="nom" class="col-form-label">Nom</label> <input type="text" th:field="*{nom}" class="text-danger"></span>
		                            </div> 
		                            <div class="form-group col-md-8">
		                                <label for="typeEngin" class="col-form-label">Type d'engin</label> <input type="text" th:field="*{typeEngin}" class="text-danger"></span>
		                            </div>
									 <div class="form-group col-md-8">
		                                <label for="dateCirculation" class="col-form-label">Date de Circulation</label> <input type="text" th:field="*{dateCirculation}" class="text-danger"></span>
		                            </div>
		                            
		                        </div> -->
		                            
                           <div class="col-md-8">
							
								<!--  <div class="form-group col-md-8">
					                 <label>Approvisionner:</label><br>
									  	<select th:field="*{approvisionners}">
									  		<option th:each="approvionner : ${approvlist}" th:value="${approvionner.idApprovionner}" th:text = "${approvisionner.nom}">
									  	</select> <br> <br>
	                            </div> -->

							<div class="form-group col-md-9" style="height:200px;overflow:auto;">
									 <label>Chantiers:</label><br>
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Choix</th>
												<th>Nom des Chantiers</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="chantier : ${chantierlist}">
												<td th:if="${#lists.contains(engin.chantier, chantier) == true}">
													<input type="checkbox" class="tableTr" checked name="chantiers" th:value="${chantier.getIdChantier()}">
												</td>
												<td th:if="${#lists.contains(engin.chantier,chantier) == false}">
													<input type="checkbox" class="tableTr" name="chantiers" th:value="${chantier.getIdChantier()}">
												</td>
												<td th:text="${chantier.nom}" th:id="${chantier.getIdChantier()}">nom</td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="form-group col-md-9" style="height:200px;overflow:auto;">
								<label>Panne:</label>
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Choix</th>
												<th>Nom des Chantiers</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="panne : ${pannelist}">
												<td th:if="${#lists.contains(engin.pannes, panne) ==true}">
													<input type="checkbox" class="tableTr" checked name="pannes" th:value="${panne.getIdPanne()}">
												</td>
												<td th:if="${#lists.contains(engin.pannes,panne) ==false}">
													<input type="checkbox" class="tableTr" name="pannes" th:value="${panne.getIdPanne()}">
												</td>
												<td th:text="${panne.getTitre()}" th:id="${panne.getIdPanne()}">nom</td>
											</tr>
										</tbody>
									</table>

							</div>
								<div class="form-group col-md-9" style="height:200px;overflow:auto;">
					                 <label>Entretien:</label>
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Choix</th>
												<th>Nom des Chantiers</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="entretien : ${entretienlist}">
												<td th:if="${#lists.contains(engin.entretien, entretien) ==true}">
													<input type="checkbox" class="tableTr" checked name="entretiens" th:value="${entretien.getIdEntretien()}">
												</td>
												<td th:if="${#lists.contains(engin.entretien,entretien) ==false}">
													<input type="checkbox" class="tableTr" name="entretiens" th:value="${entretien.getIdEntretien()}">
												</td>
												
												<td th:text="${entretien.getTitre()}" th:id="${entretien.getIdEntretien()}">nom</td>
											</tr>
										</tbody>
									</table>

	                            </div>
								 <div class="form-group col-md-9" style="height:200px;overflow:auto;">
					                 <label>Conducteur:</label>
									 <table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Choix</th>
												<th>Nom des Chantiers</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="conducteur : ${conducteurlist}">
												<td th:if="${#lists.contains(engin.conducteur, conducteur) ==true}">
													<input type="checkbox" class="tableTr" checked name="conducteurs" th:value="${conducteur.getId()}">
												</td>
												<td th:if="${#lists.contains(engin.conducteur,conducteur) ==false}">
													<input type="checkbox" class="tableTr" name="conducteurs" th:value="${conducteur.getId()}">
												</td>
												
												<td th:text="${conducteur.getNom()}" th:id="${conducteur.getId()}">nom</td>
											</tr>
										</tbody>
									</table>
	                            </div>
								
	 					</div>
	 					</div>
	                            
	                            <div class="form-group col-md-8"></div>
	                                 <!-- Gestion des boutons -->
												<div class="container">
												 <div class="col-md-8 align-self-center text-right">
												   <a href="#"> <input type="submit" class="btn btn-primary" value="Finaliser"> </a>  
							                    <!--    <a th:href="@{/tousengins}"> <button type="button" class="btn btn-info"> Valider</button></a> -->
							                       <a th:href="@{/engin/tousengins}"> <button type="button" class="btn btn-danger"> Annuler</button></a>
						                         </div>
												</div>
												
				                    </form>
				                </div>
				            </div>
				        </div>
				    </div>
</html>