<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des chantiers</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Chantier</button>
                            </a>
                            
                            
                        </div>
                    </div>
                </div>
			                
			                <br/>
			<!-- <div>
			  <form action="#" th:action="@{/chantier/cherche}" th:object="${texte}" method="post">
			<input type="texte" name= "texte" placeholder = "search"> 
			<button> Find</button>
			</form> 
			</div> -->
			
			
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
              <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="#" th:action="@{/engin/editEngin/}" th:object="${engin}" method="post">
                                    <div class="form-body">
                                        <h5 class="card-title">Edition  <input type="text"  readonly th:field="*{idEngin}" id="name" class="form-control" placeholder="id"></h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Marque</label>
                                                    <input type="text" th:field="*{nom}"  id="firstName" class="form-control" placeholder="nom"> </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Category</label>
                                                    <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="Category 1">Category 1</option>
                                                        <option value="Category 2">Category 2</option>
                                                        <option value="Category 3">Category 5</option>
                                                        <option value="Category 4">Category 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Type d'engin</label>
                                                    <input type="text"  th:field="*{typeEngin}" id="lastName" class="form-control" placeholder="type"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                           <div style="height:200px;overflow:auto;">
                                                    <td>
														<table class="table table-bordered table-hover table-striped">
															<label for="post" class="form-control" placeholder="engin" >choix de(s) l'engin:</label>
															<thead>
															    <tr>
															        <th>Choix</th>
															        <th>Nom des Chantiers</th>
															   </tr>
															 </thead>
															 <tbody>     
															     <tr th:each="chantier : ${chantierlist}">
															      <!-- cette partie permet de gerer le checked box, avec une condition sinon si -->
															      <!-- contain(chantier.engin c'est la liste des elements a parcourir ) 
															      et engin cest l'element a chercher dans la liste (engin est celui indiquer plus haut -->
															      
															      <td th:if="${#lists.contains(engin.chantier, chantier) ==true}" ><input type="checkbox" class= "tableTr" checked ></td>
															       <td th:if="${#lists.contains(engin.chantier,chantier) ==false}"><input type="checkbox" class= "tableTr" ></td>
															     <!--  -->
					                                              <td th:text="${chantier.nom}" th:id="${chantier.idChantier}" > nom </td>
					                                             </tr>
															  </tbody>
														 </table>
															    <input type="text" hidden id="choix" name="selectChantier" >
                                                       </td>
                                                
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Numero d'immatriculation</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="matricule"> </div>
                                            </div>
                                            <!--/span-->
                                             <div class="col-md-6">
                                              <div class="form-group">
                                                    <label class="control-label">Conducteur</label>
                                                    <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="Category 1">Yattara</option>
                                                        <option value="Category 2">Korotoumou</option>
                                                        <option value="Category 3">Abdoul</option>
                                                        <option value="Category 4">Chanrles</option>
                                                    </select>
                                                </div>
                                                </div>
                                            <!--/span-->
                                        </div>
                                       
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date d'achat</label>
                                                    <input type="text" th:field="*{dateCirculation}" class="form-control"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date de circulation</label>
                                                    <input type="text" class="form-control"> </div>
                                                    </div>
                                                    </div>
                                       <div class="form-actions mt-5">
                                          	 <a th:href="@{/engin/tousengins}"> <input type="submit" class="btn btn-primary" value="Valider"> </a>
                                      		 <a th:href="@{/engin/tousengins}"> <button type="button" class="btn btn-info"> Annuler</button></a>
                                    </div>
                                                       
                                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
                
                 <script>
                function verifie(){
                	
                	var idS = [];
                //	var idj = [[${idEngins}]];
                	//document.querySelector("#choix").value= idS;
                	var myTable = document.querySelectorAll(".tableTr");
                    for( var i=0; myTable.length >i; i++)
                    	if(myTable[i].checked) 
                    		idS.push(myTable[i].parentNode.nextElementSibling.getAttribute("id"));
                    	document.querySelector("#choix").value= idS;
                    	//console.log(document.querySelector("#choix").value)
                }
                 </script>
</body>

</html>