<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>


<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des approvisionnement</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/approv/nouveau}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Stocks des Engins </h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
							<div class="well">
								 <div class="table-responsive">
                                    <table class="table product-overview" id="zero_config">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Image</th>
                                                <th>Engin</th>
                                                <th>Nombre</th>
                                                <th>Date d'enregistrement</th>
                                                <th>Statut</th>
                                                <th>Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr th:each="appro : ${appro}">
                                                <td th:text="${appro.idApprovisionner}"> id </td>
                                                 <td> <img src="../assets/images/gallery/chair2.jpg" alt="iPhone"
                                                        width="80"> </td>
                                                <td th:text="${appro.engin}"> engin </td>
                                                <td th:text="${appro.quantite}"> Quantite </td>
                                                <td th:text="${#dates.format(appro.date, 'dd-MMM-yyyy')}">date</td>
                                                <td> <span class="label label-success font-weight-100">Paid</span> </td>
                                                
                                                 <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-dark dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="ti-settings"></i>
                                                        </button>
                                                        <div class="dropdown-menu animated slideInUp"
                                                            x-placement="bottom-start"
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                                            <a class="dropdown-item" th:href="@{'/approv/detailApprov/' + ${appro.idApprovisionner}}"><i
                                                                    class="ti-eye"></i> Detail</a>
                                                            <a class="dropdown-item" th:href="@{'/approv/editApprov/' + ${appro.idApprovisionner}}"><i
                                                                    class="ti-pencil-alt"></i> Modifier</a>
                                                            <a class="dropdown-item" th:href="@{'/approv/deleteApprov/' + ${appro.idApprovisionner}}"><i
                                                                    class="ti-trash"></i> Supprimer</a>
                                                            <!-- <a class="dropdown-item" th:href="@{'/engin/etat-engin/' + ${engin.idEngin}}"><i
                                                                    class="ti-comment-alt"></i> Etats</a> -->
                                                                    
                                                        </div>
                                                    </div>
                                                </td>
                                               
                                        </tbody>
                                    </table>
                                </div>
                               	</div>
                               	</div>
                               	</div>
                               	</div>
                            </div>
                        </div>
                    </div>
				</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
               <div th:replace ="lienBas"> </div>
</body>

</html>