<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
         <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor"> Tous les details </h4>
                    </div>
                  <!--   <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/creer-nouveau-employe}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Detail du chantier </h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                               <div class="container my-5">
		                    <!-- Column -->
		                    <div class="col-lg-12">
		                        <div class="card">
		                            <div class="card-body" >
		                      <form action="#" th:action="@{/approv/save-approv}" th:object="${approv}" methode="post">

		                                <div class="row">
		                                    <div class="col-lg-3 col-md-3 col-sm-6">
		                                        <div class="white-box text-center"> <img src="/assets/images/gallery/chair.jpg" class="img-fluid"> </div>
		                                    </div>
		                                    <div class="col-lg-9 col-md-9 col-sm-6">
		                                    <label> <p >Approvisionnement </p>  <h4 class="card-title" th:text="${approv.idApprovisionner}"></h4></label>  
		                                        <ul class="list-unstyled">
		                                            <li><i class="fa fa-check text-success"></i> Date :  <input class="form-control-static"  th:field="*{date}" readonly="readonly"></p></li>
		                                        </ul>
		                                    </div>
		                                    <div class="col-lg-12 col-md-12 col-sm-12">
		                                        <h3 class="box-title mt-5">Information Generale</h3>
		                                        <div class="table-responsive">
		                                            <table class="table">
		                                                <tbody>
		                                                    <tr>
		                                                        <td width="390">Nom du l'engin :</td>
		                                                       	 <td> 
                                                       					 <input class="form-control-static"  th:field="*{engin}" readonly="readonly"></p>
                                                				</td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Quantite</td>
		                                                        <td> 
                                                       					 <input class="form-control-static"  th:field="*{quantite}" readonly="readonly"></p>
                                                				</td>
		                                                    </tr>
		                                                   <!--  <tr>
		                                                        <td>Responsable du chantier</td>
		                                                        <td> 
                                                       					 <input class="form-control-static"  th:field="*{responsable}" readonly="readonly"> </p>
                                                				</td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Nom du Cleint ou entreprise</td>
		                                                         <td> 
                                                       					 <input class="form-control-static"  th:field="*{client}" readonly="readonly"> </p>
                                                				</td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Contact du client</td>
		                                                        <td>  <input class="form-control-static"  th:field="*{contactClient}" readonly="readonly"></p></td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Localisation du site</td>
		                                                         <td> 
                                                       					 <input class="form-control-static"  th:field="*{ville}" readonly="readonly"> </p>
                                                				</td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Pays</td>
		                                                        <td> 
                                                       					 <input class="form-control-static"  th:field="*{pays}" readonly="readonly"> </p>
                                                				</td>
		                                                    </tr>
		                                                    <tr>
		                                                        <td>Budget du projet Type</td>
		                                                        <td> 
                                                       					 <input class="form-control-static"  th:field="*{budget}" readonly="readonly"> </p>
                                                				</td>
		                                                    </tr> -->
		                                                </tbody>
		                                            </table>
		                                        </div>
		                                    </div>
		                                </div>
		                            		
		                  						  <!-- Column -->
                                                   <div class="row">
                                                      			  <div class="col-md-offset-6 col-md-10">
                                                      				  <a th:href="@{'/approv/editApprov/' + ${approv.idApprovisionner}}"> <button type="button" class="btn btn-primary">EDIT</button> <i class="fa fa-pencil"></i></a>      
                                                          			  <a th:href="@{/approv/tousapprov}"> <button type="button" class="btn btn-dark">Cancel</button></a>
                                                       			 </div>
                                                   		 	</div>
		                    </form>
		                </div>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
						</div>
						
						
					
						
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
              <div th:replace ="lienBas"> </div>
</body>

</html>

		
		 	