<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>
<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
         <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Modification d'approvisionnement</h4>
                    </div>
                  <!--   <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/creer-nouveau-employe}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des engins  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Modification du formullaire</h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                               <div class="container my-5">
				       
				        <div class="card">
				            <div class="card-body">
				                <div class="col-md-10">
								 <form action="#" th:action="@{/approv/save-approv}" th:object="${approvisionner}" methode="post">
								
								
								<div class="row">
									 <label for="post">Engin:</label>
											<select id="engin" th:field="*{engin}">
											  <option th:each="engin : ${enginlist}" th:value="${engin.idEngin}" th:text="${engin.nom}"></option>
											</select><br>
								<hr>
									  <label>Quantite:</label><br>
									  <input type="text" th:field="*{quantite}"><br>			  
										</select>
									
								<hr>	
									 <label>Date:</label><br>
									  <input type="date" th:field="*{date}"><br>			  
										</select><br>
										
							</div>
								</form>
                            
                            <div class="form-group col-md-8"></div>

                                 <!-- Gestion des boutons -->
											<div class="container">
											 <div class="col-md-8 align-self-center text-right">
											   <a th:href="@{/}"> <input type="submit" class="btn btn-primary" value="Annuller"> </a>  
						                       <a th:href="@{/approv/tousapprovs}"> <button type="button" class="btn btn-info"> Valider</button></a>
					                         </div>
											</div>
								                </div>
				            </div>
				        </div>
				    </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
</body>

</html>