<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>


<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des approvisionnement</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/approv/new-approv}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                 <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                              <!--   <form action="#" th:action="@{/approv/save-approv}" th:objet="${appro}" methode="post"> -->
                                <form action="#" th:action="@{/approv/save-approv}" th:object="${appro}" methode="post">
                                    <div class="form-body">
                                        <h5 class="card-title">Nouvelle enregistrement</h5>
                                        <hr>
                                        
                                        <div class="row">
                                       <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date d'enregistrement</label>
                                                    <input type="date" th:field=*{date} class="form-control"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Engin</label>
                                                    <div><select th:field="*{engin}">
									  		<option th:each="eg : ${enginlist}" th:value="${eg}" th:text = "${eg}">
									  	</select></div>
                                                  </div>
                                            </div>
                                        </div>
                                          <div class="row">
                                       <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Quantite</label>
                                                    <input type="text" th:field="*{quantite}" class="form-control"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                  <label>Commentaire</label>
                                                    <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <!--/span-->
                                            <div class="col-md-3">
                                                <h5 class="card-title mt-3"> Image Engin</h5>
                                                <div class="el-element-overlay">
                                                    <div class="el-card-item pb-3">
                                                        <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center"> <img src="../assets/images/gallery/chair3.jpg" class="d-block position-relative w-100" alt="user" />
                                                            <div class="el-overlay w-100 overflow-hidden">
                                                                <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                                                                    <li class="el-item d-inline-block my-0  mx-1"><a class="btn default btn-outline image-popup-vertical-fit el-link text-white border-white" href="/assets/images/gallery/chair3.jpg"><i class="icon-magnifier"></i></a></li>
                                                                    <li class="el-item d-inline-block my-0  mx-1"><a class="btn default btn-outline el-link text-white border-white" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn btn-info waves-effect waves-light"><span>Choisir une image</span>
                                                    <input type="file" class="upload"> </div>
                                            </div>
                                        </div>
                                        <hr> </div>
                                    <div class="form-actions mt-5">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-dark">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
               <div th:replace ="lienBas"> </div>
</body>

</html>