<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" type="text/css"
    href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/saveApprov}" th:object="${appro}" methode="post">

			 <label>Engins:</label><br>
			  	<select th:field="*{engin}">
			  		<option th:each="eg : ${enginlist}" th:value="${eg}" th:text = "${eg}">
			  	</select> <br> <br>
		
			  <label>Quantite:</label><br>
			  <input type="text" th:field="*{quantite}"><br>			  
				</select><br>
			
			 <label>Date:</label><br>
			  <input type="text" th:field="*{date}"><br>			  
				</select><br>
			  
			  <button type="buton"> save Approv </button>
		</form>
	 </div>
</body>
</html>