<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<head th:fragment ="haut">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin/" />
    <!-- Footable CSS -->
    <link th:href="@{/assets/node_modules/footable/css/footable.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/node_modules/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
    <!-- Page CSS -->
    <link th:href="@{/dist/css/pages/contact-app-page.css}" rel="stylesheet">
    <link th:href="@{/dist/css/pages/footable-page.css}" rel="stylesheet">
	<link th:href="@{/assets/node_modules/toast-master/css/jquery.toast.css}" rel="stylesheet"/>
	<!-- =================================== -->
	<!-- DROP FILE CSS -->
	<link rel="stylesheet" th:href="@{/assets/node_modules/dropify/dist/css/dropify.min.css}">
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>
</html>