<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin/" />
    <!-- page css -->
    <link th:href="@{/dist/css/pages/login-register-lock.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elegant admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" th:style="'background-image:url(/assets/images/background/login-register.jpg);'">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal" id="loginform" th:action="@{/inscription}" th:object="${user}" method="post">
                        <h3 class="box-title m-b-20">Sign Up</h3>
                        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger' : ''">
<!--  th:classappend="${#fields.hasErrors('username')} ? 'has-danger' : ''" -->
                            <div class="col-xs-12">
<!-- th:classappend="${#fields.hasErrors('username')} ? 'form-control-danger' : ''"  -->
                                <input th:field="*{username}" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'form-control-danger' : ''" type="text" required="" placeholder="Username">
                                <div th:if="${#fields.hasErrors('username')}" class="form-control-feedback">Sorry, that username's taken. Try another !</div>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-danger' : ''">
                            <div class="col-xs-12">
                                <input th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'form-control-danger' : ''" type="text" required="" placeholder="Email">
                                <div th:if="${#fields.hasErrors('email')}" class="form-control-feedback">Sorry, that email's taken or Invalid. Try another !</div>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger' : ''">
                            <div class="col-xs-12">
                                <input th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'form-control-danger' : ''" type="password" required="" placeholder="Password">
                                <div th:if="${#fields.hasErrors('password')}" class="form-control-feedback">Sorry, Try one at least 6 characters.</div>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('agreeTerms')} ? 'has-danger' : ''">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" th:field="*{agreeTerms}">
                                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
									<div th:if="${#fields.hasErrors('agreeTerms')}" class="form-control-feedback">Sorry ! You have to AGREE ALL TERMS to sign in</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center p-b-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Already have an account? <a th:href="@{/login}" class="text-info m-l-5"><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/node_modules/jquery/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/node_modules/popper/popper.min.js}"></script>
    <script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
    $(function() {
        $(".preloader").fadeOut();
    });
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    </script>
</body>

</html>