<!DOCTYPE html>
<html>
 <aside class="left-sidebar" th:fragment = "menuPrincipal">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img th:src="@{/assets/images/logo-icon.png}" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Employes<span class="badge badge-pill badge-cyan">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li th:each="post : ${postes}">
									<a th:href="@{'/specific-post/' + ${post.id}}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li>
                                <li><a th:href="@{/employe/dashboard-employe}">Liste <i class="far fa-circle text-info"></i></a></li>
                                <li><a href="index3.html">Mecani <i class="far fa-circle text-danger"></i></a></li>
                                <li><a href="index4.html">Modern <i class="far fa-circle text-success"></i></a></li>
                                <li><a href="index5.html">Cryptocurrency <i class="far fa-circle text-primary"></i></a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Chantier<span class="badge badge-pill badge-cyan"></span></span></a>
                            <ul aria-expanded="false" class="collapse">
                               <!--  <li th:each="post : ${postes}">
									<a th:href="@{'/specific-post/' + ${post.id}}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li> -->
                                <li><a  th:href="@{/chantier/new-chantier}">Nouveau <i class="far fa-circle text-info"></i></a></li>
                                <li><a  th:href="@{/chantier/touschantiers}">Liste <i class="far fa-circle text-danger"></i></a></li>
                                <li><a th:href="@{/chantier/touschantiers}">Details<i class="far fa-circle text-success"></i></a></li>
                                <li><a href="index5.html">Autre<i class="far fa-circle text-primary"></i></a></li>
                            </ul>
                        </li>
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Tables</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="table-basic.html">Basic Tables <i class="ti-widgetized"></i></a></li> -->
<!--                                 <li><a href="table-layout.html">Table Layouts <i class="ti-layout-accordion-list"></i></a></li> -->
<!--                                 <li><a href="table-data-table.html">Data Tables <i class="ti-widget"></i></a></li> -->
<!--                                 <li><a href="table-footable.html">Footable <i class="ti-layout-accordion-merged"></i></a></li> -->
<!--                                 <li><a href="table-jsgrid.html">Js Grid Table <i class="ti-layout-placeholder"></i></a></li> -->
<!--                                 <li><a href="table-responsive.html">Responsive Table <i class="ti-layout-accordion-separated"></i></a></li> -->
<!--                                 <li><a href="table-bootstrap.html">Bootstrap Tables <i class="ti-layout"></i></a></li> -->
<!--                                 <li><a href="table-editable-table.html">Editable Table <i class="ti-pencil-alt"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Widgets</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="widget-data.html">Data Widgets <i class="icon-puzzle"></i></a></li> -->
<!--                                 <li><a href="widget-apps.html">Apps Widgets <i class="icon-drawar"></i></a></li> -->
<!--                                 <li><a href="widget-charts.html">Charts Widgets <i class="ti-bar-chart-alt"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
                        <li class="nav-small-cap"></li>
                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Engin<span class="badge badge-pill badge-cyan"></span></span></a>
                            <ul aria-expanded="false" class="collapse">
                               <!--  <li th:each="post : ${postes}">
									<a th:href="@{'/specific-post/' + ${post.id}}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li> -->
                                <li><a  th:href="@{/engin/tousengins}">Liste <i class="far fa-circle text-info"></i></a></li>
                                <li><a  th:href="@{/panne/touspannes}">Panne <i class="far fa-circle text-danger"></i></a></li>
                                <li><a th:href="@{/entretien/tousentretiens}">Entretien<i class="far fa-circle text-success"></i></a></li>
                                <li><a href="index5.html">Autre<i class="far fa-circle text-primary"></i></a></li>
                            </ul>
                        </li>
                       <!--  <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-files"></i><span class="hide-menu">Approvisionnements <span class="badge badge-pill badge-info">25</span></span></a> </li>
                        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-pie-chart"></i><span class="hide-menu">Pannes </span></a> </li>
                        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-light-bulb"></i><span class="hide-menu">Reparations </span></a> </li> -->
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-location-pin"></i><span class="hide-menu">Maps</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="map-google.html">Google Maps <i class="mdi mdi-google-maps"></i></a></li> -->
<!--                                 <li><a href="map-vector.html">Vector Maps <i class="mdi mdi-map-marker"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Multi level dd</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="javascript:void(0)">item 1.1<i class="ti-align-left"></i></a></li> -->
<!--                                 <li><a href="javascript:void(0)">item 1.2<i class="ti-align-left"></i></a></li> -->
<!--                                 <li> <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Menu 1.3<i class="ti-align-left"></i></a> -->
<!--                                     <ul aria-expanded="false" class="collapse"> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.1<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.2<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.3<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.4<i class="ti-list-ol"></i></a></li> -->
<!--                                     </ul> -->
<!--                                 </li> -->
<!--                                 <li><a href="javascript:void(0)">item 1.4<i class="ti-align-left"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<br>
<br>
<br>
<br>
<br>
                        <li class="nav-small-cap"></li>
                        <li> <a class="waves-effect waves-dark" href="../documentation/documentation.html" aria-expanded="false"><i class="far fa-circle text-danger"></i><span class="hide-menu">Documentation</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-login.html" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">Log Out</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-faq.html" aria-expanded="false"><i class="far fa-circle text-info"></i><span class="hide-menu">FAQs</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
          </aside>
        
</html>