<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "menuPrincipal"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des chantiers</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Chantier</button>
                            </a>
                            
                            
                        </div>
                    </div>
                </div>
			                
			                <br/>
			<!-- <div>
			  <form action="#" th:action="@{/chantier/cherche}" th:object="${texte}" method="post">
			<input type="texte" name= "texte" placeholder = "search"> 
			<button> Find</button>
			</form> 
			</div> -->
			
			
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <div class="widget-content searchable-container list">
                    <div class="card card-body">
                        <div class="row">
                                <div class="col-md-4">
                                    <form>
                                        <input type="text" class="form-control product-search" id="input-search" placeholder="Search Contacts...">
                                    </form>
                                </div>
                                <div class="col-md-8 text-right d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
                                       
                                       <a href="javascript:void(0)" id="btn-add-contact" class="btn btn-info"><i class="mdi mdi-account-multiple-plus font-16 mr-1"></i> Add Contact</a>
                               
                               
                                </div>
                        </div>
                    </div>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Contact</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="add-contact-box">
                                        <div class="add-contact-content">
                                            <form id="addContactModalTitle">
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <div class="contact-name">
                                                            <input type="text" id="c-name" class="form-control" placeholder="Name">
                                                            <span class="validation-text"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="contact-email">
                                                            <input type="text" id="c-email" class="form-control" placeholder="Email">
                                                            <span class="validation-text"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <div class="contact-occupation">
                                                            <input type="text" id="c-occupation" class="form-control" placeholder="Occupation">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="contact-phone">
                                                            <input type="text" id="c-phone" class="form-control" placeholder="Phone">
                                                            <span class="validation-text"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-md-12">
                                                        <div class="contact-location">
                                                            <input type="text" id="c-location" class="form-control" placeholder="Location">
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn-add" class="btn btn-success">Add</button>
                                    <button id="btn-edit" class="btn btn-success">Save</button>
                                    <button class="btn btn-danger" data-dismiss="modal"> Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                        <div class="table-responsive">
                            <table class="table table-striped search-table v-middle">
                                <thead class="header-item">
                                    <th>
                                        <div class="n-chk align-self-center text-center">
                                            <div class="checkbox checkbox-info">
                                                <input type="checkbox" class="material-inputs" id="contact-check-all">
                                                <label for="contact-check-all"></label>
                                                <span class="new-control-indicator"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-dark font-weight-bold">Name</th>
                                    <th class="text-dark font-weight-bold">Email</th>
                                    <th class="text-dark font-weight-bold">Location</th>
                                    <th class="text-dark font-weight-bold">Phone</th>
                                    <th class="text-center">
                                        <div class="action-btn">
                                            <a href="javascript:void(0)" class="delete-multiple text-danger"><i class="fas fa-trash font-20 font-medium"></i> Delete Row</a>
                                        </div>
                                    </th>
                                </thead>
                                <tbody>
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox1">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/1.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Emma Adams">Emma Adams</h5>
                                                        <span class="user-work text-muted" data-occupation="Web Developer">Web Developer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="adams@mail.com">adams@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Boston, USA">Boston, USA</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+1 (070) 123-4567">+91 (070) 123-4567</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox2">
                                                    <label for="checkbox2"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/2.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Olivia Allen">Olivia Allen</h5>
                                                        <span class="user-work text-muted" data-occupation="Web Designer">Web Designer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="allen@mail.com">allen@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Sydney, Australia">Sydney, Australia</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (125) 450-1500">+91 (125) 450-1500</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox3">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/3.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Isabella Anderson">Isabella Anderson</h5>
                                                        <span class="user-work text-muted" data-occupation="UX/UI Designer">UX/UI Designer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="anderson@mail.com">anderson@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Miami, USA">Miami, USA</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (100) 154-1254">+91 (100) 154-1254</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                     <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox4">
                                                    <label for="checkbox4"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/4.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Amelia Armstrong">Amelia Armstrong</h5>
                                                        <span class="user-work text-muted" data-occupation="Ethical Hacker">Ethical Hacker</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="armstrong@mail.com">armstrong@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Tokyo, Japan">Tokyo, Japan</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (154) 199- 1540">+91 (154) 199- 1540</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox5">
                                                    <label for="checkbox5"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/5.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Emily Atkinson">Emily Atkinson</h5>
                                                        <span class="user-work text-muted" data-occupation="Web developer">Web developer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="atkinson@mail.com">atkinson@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Edinburgh, UK">Edinburgh, UK</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (900) 150- 1500">+91 (900) 150- 1500</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox6">
                                                    <label for="checkbox6"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/6.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Sofia Bailey">Sofia Bailey</h5>
                                                        <span class="user-work text-muted" data-occupation="UX/UI Designer">UX/UI Designer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="bailey@mail.com">bailey@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="New York, USA">New York, USA</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (001) 160- 1845">+91 (001) 160- 1845</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox7">
                                                    <label for="checkbox7"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/7.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Victoria Sharma">Victoria Sharma</h5>
                                                        <span class="user-work text-muted" data-occupation="Project Manager"">Project Manager"</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="sharma@mail.com">sharma@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Miami, USA">Miami, USA</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (110) 180- 1600">+91 (110) 180- 1600</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                    <!-- row -->
                                    <tr class="search-items">
                                        <td>
                                            <div class="n-chk align-self-center text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input type="checkbox" class="material-inputs contact-chkbox" id="checkbox8">
                                                    <label for="checkbox8"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/users/8.jpg" alt="avatar" class="rounded-circle" width="35">
                                                <div class="ml-2">
                                                    <div class="user-meta-info">
                                                        <h5 class="user-name mb-0" data-name="Penelope Baker">Penelope Baker</h5>
                                                        <span class="user-work text-muted" data-occupation="Web Developer"">Web Developer"</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="usr-email-addr" data-email="baker@mail.com">baker@mail.com</span>
                                        </td>
                                        <td>
                                            <span class="usr-location" data-location="Edinburgh, UK">Edinburgh, UK</span>
                                        </td>
                                        <td>
                                            <span class="usr-ph-no" data-phone="+91 (405) 483- 4512">+91 (405) 483- 4512</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="action-btn">
                                                <a href="javascript:void(0)" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
                                                <a href="javascript:void(0)" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /.row -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                					<div class="form-group row">
                                        <label for="date" class="col-sm-3 text-right control-label col-form-label">Date</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="date">
                                        </div>
                                    </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
</body>

</html>