<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajouter-Panne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Ajouter Panne</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/savepanne}" th:object="${panne}" method="post">
                        <div class="row">
                        
                            <div class="form-group col-md-8">
				                 <label>Engin:</label><br>
								  	<select th:field="*{engin}">
								  		<option th:each="engin : ${enginlist}" th:value="${engin}" th:text = "${engin}">
								  	</select> <br> <br>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> <input type="text" th:field="*{description}" class="text-danger"></span>
                            </div>
                            
                             <div class="form-group col-md-8">
                                <label for="date" class="col-form-label">Date</label> <input type="text" th:field="*{datePanne}" class="text-danger"></span>
                            </div>
                            

                            <div class="form-group col-md-8">
                              <label>Reparation:</label><br>
								  	<select th:field="*{reparation}">
								  		<option th:each="reparation : ${reparationlist}" th:value="${reparation}" th:text = "${reparationlist.nom}"></option>
								  	</select> 	
                            </div>

							
							
							
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-success" value="Add Panne">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>