<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" type="text/css"
    href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/savechantier}" th:object="${chantier}" methode="post">

			  <label>Nom:</label><br>
			  <input type="text"  th:field="*{nom}"><br>

			  <label>Adresse:</label><br>
			  <input type="text" th:field="*{adresse}"><br>			  
				</select><br>
			
			 <label>Responsables:</label><br>
			  	<select th:field="*{responsable}">
			  		<option th:each="responsable : ${responsablelist}" th:value="${responsable}" th:text = "${responsablelist.nom}"></option>
			  	</select> 	<br> <br>
				
			 <label>Engins:</label><br>
			  	<select th:field="*{engin}">
			  		<option th:each="eg : ${enginlist}" th:value="${eg}" th:text = "${eg}">
			  	</select> <br> <br>
		
			  
			  <button type="buton"> save chantier </button>
		</form>
	 </div>
</body>
</html>