<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" type="text/css"
    href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/save-engin}" th:object="${engin}" methode="post">

			<!--   <label for="nom">Nom:</label><br>
			  <input type="text" id="fname" name="nom" th:field="*{nom}"><br>
 -->
			  <label for="type">Type d'engin:</label><br>
			  <input type="text" th:field="*{typeEngin}"><br>			  
				</select><br>
			
			 <label for="dateCirculation">Date de Circulation:</label><br>
			  <input type="text" id="lname" name="dateCirculation" th:field="*{dateCirculation}"><br>			  
				</select><br>
				
		
				
				 <label>Chantier:</label><br>
			  	<select th:field="*{chantiers}">
			  		<option th:each="respo : ${chantierslist}" th:value="${chant}" th:text = "${chant}">
			  	</select> 	<br> <br>
			  	
			  	 <label>Conducteur:</label><br>
			  	<select th:field="*{conducteurs}">
			  		<option th:each="respo : ${conducteurslist}" th:value="${conduct}" th:text = "${conduct}">
			  	</select> 	<br> <br>
			  	
			  	 <label>Panne:</label><br>
			  	<select th:field="*{panne}">
			  		<option th:each="respo : ${panneslist}" th:value="${panne}" th:text = "${panne}">
			  	</select> 	<br> <br>
			
			
			  
			  <button type="buton"> save Engin </button>
		</form>
	 </div>
</body>
</html>