<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head></div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
         <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des employes</h4>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
            
                      
                    <!-- ============================================================== -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body wizard-content">
                                <h4 class="card-title">Nouvelle panne</h4>
                                <br>
                                <h6 class="card-subtitle"></h6>
                               <form action="#" th:action="@{/panne/savepanne}" th:object="${panne}" method="post">
                                    <section>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="date_panne">Date de la panne:</label>
                                                    <input type="date" th:field =*{datePanne} class="form-control" id="date"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="lastName1">Titre :</label>
                                                    <input type="text" th:field=*{titre} class="form-control" id="lieu"> </div>
                                            </div> 
                                             <div class="col-md-4">
                                                    <label for="engin">Choisir un engin :</label>
                                                    <div>  <select th:field="*{engin}">
								  						<option th:each="engin : ${enginlist}" th:value="${engin.idEngin}" th:text = "${engin.nom}">
								  					</select></div>
                                                   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 2 -->
                                    <section>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="shortDescription1">Description :</label>
                                                    <textarea name="shortDescription"  th:field=*{description} id="shortDescription1" rows="4" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                  
                                    </section>
                                     <div class="card-body">
                                    <div class="form-group mb-0 text-right">
                                          <input type="submit"class="btn btn-primary " value="Save">
                                        <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    

                    <!-- ============================================================== -->
                  
                    <!-- ============================================================== -->
                    <!-- Example -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
              <div th:replace ="lienBas"> </div>
             
</body>

</html>