<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<!-- ============================================================== -->
<!-- MODEL CREATE EMPLOYE -->
<!-- ============================================================== -->
<div id="modalPanne" class="modal fade in" tabindex="-1"
	role="dialog" aria-labelledby="myPanneModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabelPanne">Add Panne</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal p-t-20" enctype="multipart/form-data"
					th:action="@{/panne/savepanne}" th:object="${newPanne}"
					method="post">
					
					<!-- NOM -->
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Titre*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-user"></i></span>
								</div>
								<input th:field="*{titre}" type="text" required="required"
									class="form-control" id="exampleInputuname3" placeholder="Nom">
							</div>
						</div>
					</div>
							<!-- DATE DE REPARATION-->
                                  <div class="form-group row">
                                      <label for="web" class="col-sm-3 control-label">Date</label>
                                      	<div class="col-md-9">
                                		 <div class="input-group">
                                    			 <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
								<input th:field="*{datePanne}" type="date" required="required" class="form-control" placeholder="dd/mm/yyyy">
                                		 </div>
                                      </div>
                                  </div>

			   <!-- Panne -->
				<div class="form-group row">
                     <label class="control-label col-md-3">Engin</label>
                     <div class="col-md-9">
                          <select th:field="*{engin}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                             <option th:each="engin : ${enginlist}" th:value="${engin.idEngin}" th:text="${engin.getRef()}">Category</option>
                         </select>
                     </div>
                 </div>
					<!-- DESCRIPTION -->
					<div class="form-group row">
						<label for="exampleInputuname3" class="col-sm-3 control-label">Description*</label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ti-user"></i></span>
								</div>
								<textarea rows="5" th:field="*{description}" type="text" required="required"
									class="form-control" id="exampleInputuname3"
									placeholder="Veuillez decrire la panne"></textarea>
							</div>
						</div>
					</div>       
                    <!-- SAVE BUTTON -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-info">Save</button>
						<button type="button" class="btn btn-default waves-effect"
							data-dismiss="modal">Cancel</button>
					</div>
                      </form>
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
</html>

