<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
		<li th:each="post : ${postes}"><a
			th:href="@{'/poste/' + ${post.getId()} + '-members'}"
			th:text="${post.nom}"> <i class="far"
				th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
		</li>
</html>