<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
       <aside layout:fragment="menu_aside.html" class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img th:src="@{/assets/images/logo-icon.png}" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll modifier test-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="has-arrow waves-effect waves-dark" href="/employe/dashboard-employe" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Employes<span class="badge badge-pill badge-danger" th:text="${employes != null} ? ${#lists.size(employes)} : ''">4</span></span></a>
                            <ul layout:fragment="menuListAPuce" aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/employe/dashboard-employe}">Liste <i class="far fa-circle text-warning"></i></a></li>
								<li th:if="${postes}" class="nav-small-cap"></li>
								<li th:if="${postes}" th:each="post : ${postes}">
									<a th:href="@{'/poste/' + ${post.id} + '-members'}" th:inline="text">[[${post.getNom()}]] <i class="far" th:classappend="${post.getNom().contentEquals('Responsable')} ? 'fa-circle text-danger' : 'fa-circle text-info'"></i></a>
								</li> 
                            </ul>
                        </li>
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-building"></i><span class="hide-menu">Chantier<span class="badge badge-pill badge-cyan" th:text="${chantiers != null} ? ${#lists.size(chantiers)} : ''">No</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/chantier/touschantiers}">Liste <i class="far fa-circle text-warning"></i></a></li>
                            </ul>
                        </li>
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" th:href="@{/engin/tousengins}" aria-expanded="false"><i class="fas fa-car"></i><span class="hide-menu">Engin <span class="badge badge-pill badge-danger" th:text="${engins != null} ? ${#lists.size(engins)} : ''">25</span></span></a> 
                            <ul aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/engin/tousengins}">Liste <i class="far fa-circle text-warning"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" th:href="@{/entretien/tousentretiens}" aria-expanded="false"><i class="fas fa-cogs"></i><span class="hide-menu">Entretiens <span class="badge badge-pill badge-info" th:text="${entretiens != null} ? ${#lists.size(entretiens)} : ''">25</span></span></a> 
                            <ul aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/entretien/tousentretiens}">Liste <i class="far fa-circle text-warning"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" th:href="@{/panne/touspannes}" aria-expanded="false"><i class="icon-support"></i><span class="hide-menu">Pannes <span class="badge badge-pill badge-cyan" th:text="${pannes != null} ? ${#lists.size(pannes)} : ''">25</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/panne/touspannes}">Liste <i class="far fa-circle text-warning"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" th:href="@{/reparation/tousreparations}" aria-expanded="false"><i class="icon-wrench"></i><span class="hide-menu">Reparations <span class="badge badge-pill badge-cyan" th:text="${reparations != null} ? ${#lists.size(reparations)} : ''">25</span></span></a> 
                            <ul aria-expanded="false" class="collapse">
                                <li><a  th:href="@{/reparation/tousreparations}">Liste <i class="far fa-circle text-warning"></i></a></li>
                            </ul>
                        </li>
                        <li class="nav-small-cap"></li>
                        <li> <a class="waves-effect waves-dark" href="../documentation/documentation.html" aria-expanded="false"><i class="far fa-circle text-danger"></i><span class="hide-menu">Documentation</span></a></li>
                        <li> <a class="waves-effect waves-dark" th:href="@{/logout}" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">Log Out</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
</body>
</html>