<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/saveMecanicien}" th:object="${employe}" method="post">

			  <label for="nom">Nom:</label><br>
			  <input type="text" id="fname" name="nom" th:field="*{nom}"><br>

			  <label for="prenom">Prenom:</label><br>
			  <input type="text" id="lname" name="prenom" th:field="*{prenom}"><br>
			  
			  
			  <label for="username">username:</label><br>
			  <input type="text" id="username" name="username" th:field="*{username}"><br>
			  
			  
			  <label for="email">email:</label><br>
			  <input type="text" id="email" name="email" th:field="*{email}"><br>
			  
			  <label for="phone">phone:</label><br>
			  <input type="tel" id="phone" name="phone" th:field="*{phone}"><br>
			  
    		  <label for="salaire">salaire:</label><br>
			  <input type="number" id="salaire" name="salaire" th:field="*{salaire}"><br>

			  <label for="adresse">adresse:</label><br>
			  <input type="text" id="adresse" name="adresse" th:field="*{adresse}"><br>
			  
			  
			  <label for="date">date:</label><br>
			  <input type="date" class="form-control" placeholder="dd/mm/yyyy" id="date" name="date" th:field="*{date}"><br>

			  <label for="post">post:</label>
				<select id="poste" th:field="*{poste}">
				  <option th:each="post : ${postes}" th:value="${post.id}" th:text="${post.nom}"></option>
				</select><br>
			  
			  <button type="submit"> save employe </button>
		</form>
	 </div>

</body>
</html>