<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="/EmployeTemplates/dashboard.html"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin/" />
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
<!--     <link href="../static/css/bootstrap.css}" rel="stylesheet" th:href="@{/css/bootstrap.css}"/> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
               <div class="row" layout:fragment="page-content">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card"> <img class="card-img" th:src="@{/assets/images/background/socialbg.jpg}" height="456" alt="Card image">
                            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center">
                                <div class="align-self-center"> <img th:src="@{'/img/' + ${employe.getEmail()} + '.jpg'}" class="img-circle" width="100">
                                    <h4 class="card-title" th:text="${employe.getNom()} + ' ' + ${employe.getPrenom()}">James Anderson</h4>
                                    <h6 class="card-subtitle" th:text="'@' + ${employe.postNom()}">@jamesandre</h6>
                                    <p class="text-white">Courte description sur <span th:text="'@' + ${employe.getUsername()}"> et sur son travail</span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body"> <small class="text-muted">Email address </small>
                                <h6 th:text="${employe.getEmail()}">hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>
                                <h6 th:text="${employe.getPhone()}">+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>
                                <h6 th:text="${employe.getAdresse()}">71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                                <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div> <small class="text-muted p-t-30 db">Social Profile</small>
                                <br/>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
<!--                                 <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li> -->
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
								<!--second tab-->
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                                <br>
                                                <p class="text-muted" th:text="${employe.getNom()} + ' ' + ${employe.getPrenom()}">Johnathan Deo</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                                <br>
                                                <p class="text-muted" th:text="${employe.getPhone()}">(123) 456 7890</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                                <br>
                                                <p class="text-muted" th:text="${employe.getEmail()}">johnathan@admin.com</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                                <br>
                                                <p class="text-muted" th:text="${employe.getAdresse()}">London</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h4 class="font-medium m-t-30">Skill Set</h4>
                                        <hr>
                                        <h5 class="m-t-30">Wordpress <span class="float-right">80%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">HTML 5 <span class="float-right">90%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">jQuery <span class="float-right">50%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Photoshop <span class="float-right">70%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <form class="form-horizontal" enctype="multipart/form-data" th:action="@{/employe/save-edit-employe}" th:object="${employe}" method="post">
                                        	<!-- No -->
                                            <div class="form-group">
                                                <label class="col-md-12">No</label>
                                                <div class="col-md-12">
													<input th:readonly="${true}" th:field="*{id}" type="number" th:value="${id}" required="required" class="form-control form-control-line" id="exampleInputuname3" placeholder="Nom">
                                                </div>
                                            </div>
                                        
                                        	<!-- NOM -->
                                            <div class="form-group">
                                                <label class="col-md-12">Nom</label>
                                                <div class="col-md-12">
													<input th:readonly="${currentUser.postNom() != 'Responsable'}" th:field="*{nom}" type="text" th:value="${nom}" required="required" class="form-control form-control-line" id="exampleInputuname3" placeholder="Nom">
                                                </div>
                                            </div>
                                            
                                        	<!-- PRENOM -->
											<div class="form-group">
                                                <label class="col-md-12">PRENOM</label>
                                                <div class="col-md-12">
													<input th:readonly="${currentUser.postNom() != 'Responsable'}" th:field="*{prenom}" type="text" th:value="${prenom}" required="required" class="form-control form-control-line" id="exampleInputuname3" placeholder="Prenom">
                                                </div>
                                            </div>
                                            
                                        	<!-- USERNAME -->
											<div class="form-group" th:classappend="${username} ? 'has-danger' : ''">
                                                <label class="col-md-12">USERNAME</label>
                                                <div class="col-md-12">
	                                                <input th:readonly="${ id != currentUser.getId() && currentUser.postNom() != 'Responsable'}" th:field="*{username}" type="text" th:value="${username}" required="required" class="form-control form-control-line" th:classappend="${username} ? 'form-control-danger' : ''" id="exampleInputuname3" placeholder="Username">
													<div th:if="${username}" class="form-control-feedback">Sorry, that username's taken. Try another !</div>
                                                </div>
                                            </div>

                                        	<!-- EMAIL -->
                                            <div class="form-group" th:classappend="${email} ? 'has-danger' : ''">
                                                <label for="example-email" class="col-md-12">Email</label>
                                                <div class="col-md-12">
													<input th:readonly="${ id != currentUser.getId()}" th:field="*{email}" type="email" th:value="${email}" required="required" class="form-control form-control-line" th:classappend="${email} ? 'form-control-danger' : ''" id="exampleInputEmail3" placeholder="Enter email">
													<div th:if="${email}" class="form-control-feedback">Sorry, that email's taken or Invalid. Try another !</div>
                                                </div>
                                            </div>

                                        	<!-- PASSWORD -->
                                            <div class="form-group">
                                                <label class="col-md-12">Password</label>
                                                <div class="col-md-12">
                                                    <input th:readonly="${ id != currentUser.getId() && currentUser.postNom() != 'Responsable' }" name="password" type="password" th:value="${employe.getPassword()}" required="required" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            
                                        	<!-- PHONE -->
                                            <div class="form-group">
                                                <label class="col-md-12">Phone No</label>
                                                <div class="col-md-12">
													<input th:readonly="${ id != currentUser.getId()}" th:field="*{phone}" type="number" th:value="${phone}" required="required" class="form-control form-control-line" id="phone" placeholder="76789292">
                                                </div>
                                            </div>
                                            
											<!-- ROLE -->
											<div class="form-group">
												<label class="col-md-12">Roles</label>
												<div class="col-md-12">
													<select th:readonly="${currentUser.postNom() != 'Responsable'}" th:field="*{poste}" class="form-control custom-select form-control-line" data-placeholder="Choose a Category" tabindex="1">
														<option th:if="${post.id == employe.getPoste().getId()} ? 'selected' : '' " th:each="post : ${postes}" th:value="${post.id}" th:text="${post.nom}">Category</option>
													</select>
												</div>
											</div>

											<!-- SALAIRE -->
											<div class="form-group">
												<label for="web" class="col-sm-12 control-label">Salaire</label>
												<div class="col-sm-12">
													<div class="input-group">
														<input th:readonly="${currentUser.postNom() != 'Responsable'}" th:field="*{salaire}" type="number" th:value="${salaire}" class="form-control form-control-line" id="web" placeholder="Enter Amount">
													</div>
												</div>
											</div>

											<!-- ADRESSE -->
											<div class="form-group">
												<label for="web" class="col-sm-12">Adresse</label>
												<div class="col-sm-12">
													<div class="input-group">
														<div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-home-map-marker"></i></span></div>
														<input th:readonly="${ id != currentUser.getId()}" th:field="*{adresse}" type="text" th:value="${adresse}" class="form-control" id="web" placeholder="Enter Adresse">
													</div>
												</div>
											</div>

											<!-- DATE D'EMBAUCHE -->
											<div class="form-group">
												<label for="web" class="col-sm-12">Date</label>
												<div class="col-md-12">
													<div class="input-group">
														<div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
														<input th:readonly="${currentUser.postNom() != 'Responsable'}" th:field="*{date}" type="date" th:value="${date}" required="required" class="form-control" placeholder="dd/mm/yyyy">
													</div>
												</div>
											</div>
											
											<!-- PROFILE IMAGE -->
											<div class="col-lg-12 col-md-12">
												<div class="card">
													<div class="card-body">
														<h4 class="card-title">Upload Profile Image</h4>
														<!-- <label for="input-file-now">Your so fresh input file — Default version</label> -->
														<input th:readonly="${ id != currentUser.getId()}" type="file" id="input-file-now" name="file" class="dropify" />
													</div>
												</div>
											</div>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button th:disabled="${currentUser.postNom() != 'Responsable'}" type="submit" class="btn btn-success">Update Profile</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== --> 
                
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/node_modules/jquery/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/node_modules/popper/popper.min.js}"></script>
    <script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/dist/js/perfect-scrollbar.jquery.min.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/node_modules/sticky-kit-master/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/node_modules/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!-- jQuery peity -->
    <script th:src="@{/assets/node_modules/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/assets/node_modules/peity/jquery.peity.init.js}"></script>
</body>

</html>