<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
 
<!-- .left-aside-column-->
<div th:fragment="role_table_left.html" class="left-aside bg-light-part">
	<ul class="list-style-none">
		<li class="box-label"><a
			href="http://localhost:8080/employe/dashboard-employe">All Roles
				<span>123</span>
		</a></li>
		<li class="divider"></li>
		<li class="box-label d-flex" th:each="poste : ${postes}"><a
			th:href="@{'/poste/' + ${poste.getId()} + '-members'}"
			class="col-md-10 align-self-left text-left">[[${poste.getNom()}]]
		</a> <span>123</span> <a
			th:if="${currentUser.postNom().contentEquals('Responsable') == true}"
			href="javascript:void(0)" data-toggle="modal"
			data-target="#myEditPosteModal"><i class="mdi mdi-pencil"></i></a> <a
			th:if="${currentUser.postNom().contentEquals('Responsable') == true}"
			href="#" th:onclick="|roleDeleteConfirmation(${poste.getId()})|"><i
				class="mdi mdi-delete"></i></a></li>
		<li
			th:if="${currentUser.postNom().contentEquals('Responsable') == true}"
			class="box-label"><a href="javascript:void(0)"
			data-toggle="modal" data-target="#myModal"
			class="btn btn-info text-white">+ Create New Role</a></li>

		<!-- ===================================================== -->
		<!-- MODAL TO EDIT POSTE -->
		<!-- ===================================================== -->
		<div id="myEditPosteModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Edit Role</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" action="#"
							th:action="@{/poste/edit}" th:object="${newPoste}" method="post">
							<div class="form-group">
								<label class="col-md-12">Nom actuel</label>
								<div class="col-md-12">
									<input type="text" required="required" class="form-control"
										placeholder="entre nom" th:field="*{oldNom}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">Nouveau Nom</label>
								<div class="col-md-12">
									<input type="text" required="required" class="form-control"
										placeholder="entre nom" th:field="*{nom}">
								</div>
							</div>

							<div class="modal-footer">
								<button type="submit" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-default waves-effect"
									data-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<!-- ===================================================== -->
		<!-- MODAL TO CREATE POSTE -->
		<!-- ===================================================== -->
		<div id="myModal" class="modal fade in" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Add Role</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" action="#"
							th:action="@{/poste/save-poste}" th:object="${newPoste}"
							method="post">
							<div class="form-group">
								<label class="col-md-12">Nom du role</label>
								<div class="col-md-12">
									<input type="text" required="required" class="form-control"
										placeholder="entre nom" th:field="*{nom}">
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-default waves-effect"
									data-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</ul>
</div>
</html>