<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" type="text/css"
    href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>
	<div align="center">
		<form action="#" th:action="@{/save-employe}" th:object="${employe}" methode="post">
			  <label for="id">id:</label><br>
			  <input type="text" id="id" name="fname" th:field="*{id}" readonly="readonly"><br>

			  <label for="nom">Nom:</label><br>
			  <input type="text" id="fname" name="nom" th:field="*{nom}"><br>

			  <label for="prenom">Prenom:</label><br>
			  <input type="text" id="lname" name="prenom" th:field="*{prenom}"><br>
			  
			  <label for="username">username:</label><br>
			  <input type="text" id="lname" name="username" th:field="*{username}"><br>
			  
			  <label for="email">email:</label><br>
			  <input type="text" id="lname" name="email" th:field="*{email}"><br>
			  
			  <label for="post">post:</label>
				<select id="poste" th:field="*{poste}">
				  <option th:each="post : ${postes}" th:value="${post.id}" th:text="${post.nom}"></option>
				</select><br>
			  
			  <button type="submit"> save employe </button>
		</form>
	 </div>
</body>
</html>