<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- /.left-aside-column-->
<div layout:fragment="user_table" class="right-aside">
	<div class="right-page-header">
		<div class="d-flex">
			<div class="align-self-center">
				<h4 class="card-title m-t-10">Employes</h4>
			</div>
			<div class="ml-auto">
				<input type="text" id="demo-input-search2" placeholder="Search by username"
				   onkeyup="searchOnType()"  class="form-control"> 
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table id="demo-foo-addrow"
			class="full-color-table full-dark-table hover-table table table-bordered m-t-30 contact-list no-wrap"
			data-paging="true" data-paging-size="7">
			<thead>
				<tr>
					<th>No</th>
					<th>Username</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Role</th>
					<th>Joining date</th>
					<th>Salaire</th>
					<th class="text-center">
						<div class="action-btn">
							<a href="javascript:void(0)" class="delete-multiple text-danger"><i class="fas fa-trash font-20"></i> Delete Row</a>
						</div>
					</th>
				</tr>
			</thead>
			<tbody id="myTableBody">
				<tr th:each="employe : ${employes}" 
					th:if="${#strings.contains('default default_admin', employe.getUsername()) == false}">
					<td th:text="${employe.getId()}"> id </td>
					
					<td><a th:href="@{'/employe/profile/' + ${employe.getId()}}" th:inline="text">
					<img th:src="@{'/img/user/' + ${employe.getEmail()} + '.jpg'}" alt="user" width="40" class="rounded-circle"/>
					 [[${#strings.capitalize(employe.getUsername())}]]</a>
					</td>

					<td th:text="${#strings.abbreviate(employe.getEmail(),15)}"> email </td>

					<td th:text="${employe.getPhone()}"> Phone </td>

					<td> 
						<span class="label" th:classappend="${employe.postTag()}" th:text="${employe.postNom()}"> Role </span>
					</td>

					<td th:text="${#dates.format(employe.getDate(), 'dd-MMM-yyyy')}"> date </td>

					<td>
						<div><i class="mdi mdi-cash-usd"></i><span th:text="${currentUser.postNom().contentEquals('Responsable')} ? ${employe.getSalaire()} : 'XXXXXXX'"></span></div>
					</td>
					
					<td th:if="${currentUser.postNom().contentEquals('Responsable') == true}" class="text-center">
						<div class="action-btn">
							<a th:href="@{'/employe/profile/' + ${employe.getId()}}" class="text-info edit"><i class="mdi mdi-account-edit font-20"></i></a>
							<a href="#" th:onclick="|employeDeleteConfirmation(${employe.getId()})|" class="text-dark delete ml-2"><i class="mdi mdi-delete font-20"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- .left-aside-column-->
</div>
<!-- /.left-right-aside-column-->
	<script th:src="@{/dist/js/customs/employeDeleteConfirmation.js}"></script>
</html>