<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut">


<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

</head>
</div>



<body  class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		<header th:replace="EmployeTemplates/header.html"></header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
       <aside th:replace="EmployeTemplates/menu_aside.html"></aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des chantiers</h4>
                    </div>
                    <!-- <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
     
				<div class="row page-titles">
                    <div class="col-md-5 col-12 align-self-center">
                        <h3 class="text-themecolor mb-0">Modifier un Chantier</h3>
                    </div>
                    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                        <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Menu</a></li>
                            <li class="breadcrumb-item active">Modification</li>
                        </ol>
                    </div>
                </div>
                
                
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form  enctype="multipart/form-data" th:action="@{/chantier/editChantier/}" th:object="${chantier}" method="post">
                                    <div class="form-body">
                                        <h5 class="card-title">REFERENCE: <input type="text"  readonly th:field="*{idChantier}" id="name" class="form-control" placeholder="id"></h5>
                                        <hr>
                                        <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nom</label>
                                                    <input type="text" th:field="*{nom}" id="name" class="form-control" placeholder="nom"> </div>
                                            </div>
                                           <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Adresse</label>
                                                    <input type="text" th:field="*{adresse}" id="Adresse" class="form-control" placeholder="adresse"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date debut</label>
                                                   <input th:field="*{DateDebut}" type="date" class="form-control" id="date">
                                            </div>
                                            </div>
                                            <!--/span-->
                                            
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Date fin</label>
                                                   <input  th:field="*{Datefin}" type="date" class="form-control" id="date">
                                            </div>
                                            </div>
                                            
                                            <!--/span-->
                                          
                                        </div>
                                      
                                        <h5 class="card-title mt-5">Description</h5>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <textarea  class="form-control" rows="4" th:field="*{description}" ></textarea>
                                                </div>
                                            </div>
                                        </div>
										<h5 class="card-title mt-3">Image</h5>
										<div class="col-lg-10 col-xlg-12 col-md-12">
											<div class="card"> <img class="card-img" th:src="@{'/img/chantier/' + ${chantier.getIdChantier()} + '.jpg'}" height="550" width="500" alt="Card image">
											</div>
									   </div>
										<div class="btn btn-info waves-effect waves-light"><span> Choisir Autre Image</span>
												<input type="file" id="input-file-now" name="file" class="upload"> 
										</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="card-title mt-5">INFORMATION GENERALE</h5>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered td-padding">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                
                                                                    <input type="text" th:field="*{client}"  class="form-control" placeholder="nom du client">
                                                                </td>
                                                            </tr>
                                                            <tr>

																<td><label for="post" class="form-control"
																	placeholder="engin">Ville:</label> <input type="text"
																	th:field="*{ville}" class="form-control"
																	placeholder="Ville"></td>
																<td><label for="post" class="form-control"
																	placeholder="engin">Commune:</label> <input type="text"
																	class="form-control" placeholder="Commune"></td>

																<td><label for="post" class="form-control"
																	placeholder="engin">Budgent du projet:</label> <input
																	type="text" th:field="*{budget}" class="form-control"
																	placeholder="Budget"></td>
															</tr>


															<tr>
																<td><input type="text" class="form-control"
																	placeholder="Responsables">
																	<table
																		class="table table-bordered table-hover table-striped">
																		<thead>
																			<tr>
																				<th>Choix</th>
																				<th>Responsables</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="responsable : ${responsableList}">
																				<!-- cette partie permet de gerer le checked box, avec une condition sinon si -->
																				<!-- contain(chantier.responsable c'est la liste des elements a parcourir ) 
																			      et responsable cest l'element a chercher dans la liste (responsable est celui indiquer plus haut -->

																				<td
																					th:if="${#lists.contains(chantier.responsable,responsable)==true}"><input
																					type="checkbox" name="responsablesSelected"
																					th:value="${responsable.getId()}" class="tableTr"
																					checked></td>
																				<td
																					th:if="${#lists.contains(chantier.responsable,responsable)==false}"><input
																					type="checkbox" class="tableTr"
																					name="responsablesSelected"
																					th:value="${responsable.getId()}"></td>
																				<!--  -->
																				<td th:text="${responsable.getUsername()}"
																					th:id="${responsable.getId()}">nom</td>
																			</tr>
																		</tbody>
																	</table> <input type="text" hidden id="choix"
																	name="selectResponsable"></td>


																<td><input type="text" class="form-control"
																	placeholder="Engins">
																	<table
																		class="table table-bordered table-hover table-striped">
																		<thead>
																			<tr>
																				<th>Choix</th>
																				<th>Nom de l'engin</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="engin : ${enginList}">
																				<!-- cette partie permet de gerer le checked box, avec une condition sinon si -->
																				<!-- contain(chantier.engin c'est la liste des elements a parcourir ) 
																			      et engin cest l'element a chercher dans la liste (engin est celui indiquer plus haut -->

																				<td
																					th:if="${#lists.contains(chantier.engin,engin)==true}"><input
																					type="checkbox" name="enginsSelected"
																					th:value="${engin.getIdEngin()}" class="tableTr"
																					checked></td>
																				<td
																					th:if="${#lists.contains(chantier.engin,engin)==false}"><input
																					type="checkbox" name="enginsSelected"
																					th:value="${engin.getIdEngin()}" class="tableTr"></td>
																				<!--  -->
																				<td th:text="${engin.getRef()}"
																					th:id="${engin.getIdEngin()}">nom</td>
																			</tr>
																		</tbody>
																	</table> <input type="text" hidden id="choix"
																	name="selectEngin"></td>
															</tr>
														</tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                           <h6> Veuillez enregistrer le formulaire SVP !</h6>
                                       <a th:href="@{/chantier/touschantiers}">   <button type="submit" onclick="verifie()" class="btn btn-success"> <i class="fa fa-check"></i> Save</button></a>
                                      <a th:href="@{/chantier/touschantiers}">   <button type="button" class="btn btn-dark">Annuler</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
			</div>
		</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                 <div th:replace ="lienBas"> </div>

			</div>
                 
                 <script>
                function verifie(){
                	
                	var idS = [];
                //	var idj = [[${idEngins}]];
                	//document.querySelector("#choix").value= idS;
                	var myTable = document.querySelectorAll(".tableTr");
                    for( var i=0; myTable.length >i; i++)
                    	if(myTable[i].checked) 
                    		idS.push(myTable[i].parentNode.nextElementSibling.getAttribute("id"));
                    	document.querySelector("#choix").value= idS;
                    	//console.log(document.querySelector("#choix").value)
                }
                 
                 
                 
                 </script>
                 
       
               
</body>

</html>