<!DOCTYPE html>
<html lang="en">

<div> <head th:replace = "haut"></head>

  			<script>
                function verifie(){
                	 var dateDebut= new Date(document.getElementById('datedebut').value)
                     var dateFin= new Date(document.getElementById('datefin').value)
                     var result;
                     if(dateDebut>dateFin){
                    	 result = "Date Debut <h5> "+ dateDebut+"</h5> is creator that date fin";
                    	 document.getElementById("output").style.color='green';
                    	 
                     } else if((dateDebut <= dateFin)){
                    	 result = "Date Debut <h5> "+ dateDebut+"</h5> is creator that date fin";
                    	 document.getElementById("output").style.color='green';
                    	 
                    	 
                     } else ((dateDebut <= dateFin)){
                    	 result = "<h5> Veuillez selectionner une date</h5>";
                    	 document.getElementById("output").style.color='Red';
               			 }
                     document.getElementById().innerHTML = result;
                
                </script>
</div>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
         <div> <header th:replace ="headers"></header></div>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div> <aside th:replace = "EmployeTemplates/menu_aside.html"></aside></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Gestion des chantiers</h4>
                    </div>
                    <!-- <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/chantier/new-chantier}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
              <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Formullaire chantier</h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->

                               <div class="container my-5">
				       
				        <div class="card">
				            <div class="card-body">
				                <div class="col-md-10">
				                
				                    <form action="#" th:action="@{/save-chantier}" th:object="${chantier}" method="post">
				                        <div class="row">
				                        
				                        <div class ="col-md-6">
				                           <!--  <div class="form-group col-md-8">
				                                <label for="nom" class="col-form-label">Nom</label> <input type="text" th:field="*{nom}" class="text-danger"></span>
				                            </div> -->
				                            
				                            <div class="form-group row">
                                        <label for="pname" class="col-sm-3 text-right control-label col-form-label">Nom Chantier</label>
                                        <div class="col-sm-9">
                                            <input type="text" th:field="*{nom}"  class="form-control" id="pname" placeholder="nom du projet">
                                        </div>
                                    </div>
                                        <div class="form-group row">
                                        <label for="pname" class="col-sm-3 text-right control-label col-form-label">Adresse</label>
                                        <div class="col-sm-9">
                                            <input type="text" th:field="*{adresse}" class="form-control" id="pname" placeholder="adresse">
                                        </div>
                                    </div>
				                            
				                           <!--  <div class="form-group col-md-8">
				                                <label for="adresse" class="col-form-label">Adr</label> <input type="text" th:field="*{adresse}" class="text-danger"></span>
				                            </div>
				                             -->
				                            
										</div>
										
										<!-- <span th:if="${employee.dateOfTermination.before(#dates.createNow())}">Case 1</span>
										<span th:if="${employee.dateOfTermination.after(#dates.createNow())}">Case 2</span> -->

										  <div class ="col-md-6">
										   <div class="form-group row">
                                       		 <label for="date" class="col-sm-3 text-right control-label col-form-label">Date D</label>
                                        		<div class="col-sm-9">
                                            		<input type="date"  th:field="*{DateDebut}" class="form-control" id="dateDebut">
                                     		   </div>
                                 		   </div>
				                            
				                          <div class="form-group row" th:classappend="${errorDate} ? 'has-danger' : ''">
	                                        <label for="date" class="col-sm-3 text-right control-label col-form-label">Date f</label>
	                                        	<div class="col-sm-9">
	                                           		 <input type="date" th:field="*{Datefin}"   class="form-control" th:classappend="${errorDate} ? 'form-control-danger' : ''" id="dateFin">
	                                           		  <div th:if="${errorDate}" th:text="${errorDate}" class="form-control-feedback">Sorry, that Username or Password is invalid. Try one!</div>
	                                       		 </div>
                                  		  </div>
										</div>
				                      
				                            
				                       
				                       <!-- Gestion des boutons -->
											<div class="container">
											 <div class="col-md-8 align-self-center text-right">
											 <br>
											 <br>
											   <a th:href="@{/chantier/touschantiers}"> <input type="submit" class="btn btn-primary" value="Valider"> </a>  
						                       <a th:href="@{/chantier/touschantiers}"> <button type="button" class="btn btn-info"> Annuler</button></a>
						                      <!--  <a th:href="@{/chantier/next-chantier}"> <button type="button" class="btn btn-danger"> Suivant</button></a> -->
					                         </div>
											</div>
											
											
				                      </div>
				                         
				                    </form>
				                </div>
				            </div>
				        </div>
				    </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div th:replace ="lienBas"> </div>
              
</body>

</html>