<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin/" />
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
<!--     <link href="../static/css/bootstrap.css}" rel="stylesheet" th:href="@{/css/bootstrap.css}"/> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img th:src="@{/assets/images/logo-light-icon.png}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img th:src="@{/assets/images/logo-light-text.png}" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <ul>
                                    <li>
                                        <div class="drop-title bg-primary text-white">
                                            <h4 class="m-b-0 m-t-5">4 New</h4>
                                            <span class="font-light">Notifications</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center m-b-5" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-note"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                                <span class="with-arrow"><span class="bg-danger"></span></span>
                                <ul>
                                    <li>
                                        <div class="drop-title text-white bg-danger">
                                            <h4 class="m-b-0 m-t-5">5 New</h4>
                                            <span class="font-light">Messages</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/1.jpg}" alt="user" class="img-circle"> <span class="profile-status online float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/2.jpg}" alt="user" class="img-circle"> <span class="profile-status busy float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/3.jpg}" alt="user" class="img-circle"> <span class="profile-status away float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/4.jpg}" alt="user" class="img-circle"> <span class="profile-status offline float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link m-b-5" href="javascript:void(0);"> <b>See all e-Mails</b> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-layout-width-default"></i></a>
                            <div class="dropdown-menu animated bounceInDown">
                                <ul class="mega-dropdown-menu row">
                                    <li class="col-lg-3 col-xlg-2 m-b-30">
                                        <h4 class="m-b-20">CAROUSEL</h4>
                                        <!-- CAROUSEL -->
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="container"> <img class="d-block img-fluid" th:src="@{/assets/images/big/img1.jpg}" alt="First slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" th:src="@{/assets/images/big/img2.jpg}" alt="Second slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" th:src="@{/assets/images/big/img3.jpg}" alt="Third slide"></div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </li>
                                    <li class="col-lg-3 m-b-30">
                                        <h4 class="m-b-20">ACCORDION</h4>
                                        <!-- Accordian -->
                                        <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Collapsible Group Item #1
                                                </a>
                                              </h5> </div>
                                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Collapsible Group Item #2
                                                </a>
                                              </h5> </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  Collapsible Group Item #3
                                                </a>
                                              </h5> </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-4 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/assets/images/users/1.jpg}" alt="user" class="img-circle" width="30"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                                    <div class=""><img th:src="@{/assets/images/users/1.jpg}" alt="user" class="img-circle" width="60"></div>
                                    <div class="m-l-10">
                                        <h4 class="m-b-0">Steave Jobs</h4>
                                        <p class=" m-b-0">varun@gmail.com</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img th:src="@{/assets/images/logo-icon.png}" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Menu Principal<span class="badge badge-pill badge-cyan">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">Minimal <i class="far fa-circle text-success"></i></a></li>
                                <li><a href="index2.html">Analytical <i class="far fa-circle text-info"></i></a></li>
                                <li><a href="index3.html">Demographical <i class="far fa-circle text-danger"></i></a></li>
                                <li><a href="index4.html">Modern <i class="far fa-circle text-warning"></i></a></li>
                                <li><a href="index5.html">Cryptocurrency <i class="far fa-circle text-primary"></i></a></li>
                            </ul>
                        </li>
                        
                       		 <!-- Gestion des Employes -->
                       		 
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Employes</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="app-calendar.html">Nouveau <i class="ti-calendar"></i></a></li>
                                <li><a href="app-chat.html">Liste<i class="ti-comment"></i></a></li>
                                <li><a href="app-ticket.html">Profil  <i class="ti-support"></i></a></li>
                                <li><a href="app-contact.html">Contact / Employee <i class="ti-user"></i></a></li>
                                <li><a href="app-contact2.html">Contact Grid <i class=" ti-list"></i></a></li>
                                <li><a href="app-contact-detail.html">Contact Detail <i class="ti-pencil-alt"></i></a></li>
                            </ul>
                        </li>
                        
                         <!-- Gestion des Chantiers -->
                         
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-email"></i><span class="hide-menu">Chantiers</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="app-email.html">Nouveau <i class="icon-envelope-open"></i></a></li>
                                <li><a href="app-email-detail.html">Liste<i class="ti-layout-media-left-alt"></i></a></li>
                                <li><a href="app-compose.html">Plus de detail<i class="icon-note"></i></a></li>
                            </ul>
                        </li>
                        
                        
                         <!-- Gestion des Engins -->
                         
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-palette"></i><span class="hide-menu">Entretiens<span class="badge badge-pill badge-primary text-white"></span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-cards.html">Cards <i class="ti-layers-alt"></i></a></li>
                                <li><a href="ui-user-card.html">User Cards <i class="ti-user"></i></a></li>
                                <li><a href="ui-buttons.html">Buttons <i class="ti-layout-menu"></i></a></li>
                                <li><a href="ui-modals.html">Modals <i class="ti-layout-slider-alt"></i></a></li>
                                <li><a href="ui-tab.html">Tab <i class="ti-layout-tab-min"></i></a></li>
                            </ul>
                        </li>
                        
                         <!-- Gestion des Entretiens -->
                         
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-media-right-alt"></i><span class="hide-menu">Engins</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="form-basic.html">Basic Forms <i class="ti-file"></i></a></li>
                                <li><a href="form-layout.html">Form Layouts <i class="ti-files"></i></a></li>
                                <li><a href="form-addons.html">Form Addons <i class="ti-zip"></i></a></li>
                                <li><a href="form-material.html">Form Material <i class="ti-agenda"></i></a></li>
                                <li><a href="form-float-input.html">Floating Lable <i class="ti-receipt"></i></a></li>
                                <li><a href="form-pickers.html">Form Pickers <i class="ti-write"></i></a></li>
                             
                            </ul>
                        </li>
                        
                         <!-- Gestion des Approvisionnements -->
                         
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Approvisionnements</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="table-basic.html">Basic Tables <i class="ti-widgetized"></i></a></li>
                                <li><a href="table-layout.html">Table Layouts <i class="ti-layout-accordion-list"></i></a></li>
                                <li><a href="table-data-table.html">Data Tables <i class="ti-widget"></i></a></li>
                                <li><a href="table-footable.html">Footable <i class="ti-layout-accordion-merged"></i></a></li>
                                <li><a href="table-jsgrid.html">Js Grid Table <i class="ti-layout-placeholder"></i></a></li>
                                <li><a href="table-responsive.html">Responsive Table <i class="ti-layout-accordion-separated"></i></a></li>
                                <li><a href="table-bootstrap.html">Bootstrap Tables <i class="ti-layout"></i></a></li>
                                <li><a href="table-editable-table.html">Editable Table <i class="ti-pencil-alt"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Pannes</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="widget-data.html">Data Widgets <i class="icon-puzzle"></i></a></li>
                                <li><a href="widget-apps.html">Apps Widgets <i class="icon-drawar"></i></a></li>
                                <li><a href="widget-charts.html">Charts Widgets <i class="ti-bar-chart-alt"></i></a></li>
                            </ul>
                        </li>
                        
                        
                      <!--   <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-gallery"></i><span class="hide-menu">Page Layout</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="layout-single-column.html">1 Column <i class="ti-layout-menu-separated"></i></a></li>
                                <li><a href="layout-fix-header.html">Fix header <i class="mdi mdi-page-layout-header"></i></a></li>
                                <li><a href="layout-fix-sidebar.html">Fix sidebar <i class="mdi mdi-page-layout-sidebar-left"></i></a></li>
                                <li><a href="layout-fix-header-sidebar.html">Fixe header &amp; Sidebar <i class="ti-agenda"></i></a></li>
                                <li><a href="layout-boxed.html">Boxed Layout <i class="mdi mdi-page-layout-body"></i></a></li>
                                <li><a href="layout-logo-center.html">Logo in Center <i class="icon-size-actual"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-files"></i><span class="hide-menu">Sample Pages <span class="badge badge-pill badge-info">25</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="starter-kit.html">Starter Kit <i class="ti-layout-width-default"></i></a></li>
                                <li><a href="pages-blank.html">Blank page <i class="mdi mdi-content-copy"></i></a></li>
                                <li><a href="javascript:void(0)" class="has-arrow">Authentication <span class="badge badge-pill badge-success float-right">6</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="pages-login.html">Login 1 <i class="ti-lock"></i></a></li>
                                        <li><a href="pages-login-2.html">Login 2 <i class="icon-user-following"></i></a></li>
                                        <li><a href="pages-register.html">Register <i class="ti-marker-alt"></i></a></li>
                                        <li><a href="pages-register2.html">Register 2 <i class="ti-marker"></i></a></li>
                                        <li><a href="pages-register3.html">Register 3 <i class="ti-marker-alt"></i></a></li>
                                        <li><a href="pages-lockscreen.html">Lockscreen <i class="icon-lock"></i></a></li>
                                        <li><a href="pages-recover-password.html">Recover password <i class="icon-lock-open"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="pages-profile.html">Profile page <i class="ti-id-badge"></i></a></li>
                                <li><a href="pages-animation.html">Animation <i class="ti-video-clapper"></i></a></li>
                                <li><a href="pages-fix-innersidebar.html">Sticky Left sidebar <i class="ti-layout-sidebar-left"></i></a></li>
                                <li><a href="pages-fix-inner-right-sidebar.html">Sticky Right sidebar <i class="ti-layout-sidebar-right"></i></a></li>
                                <li><a href="pages-invoice.html">Invoice <i class="icon-speech"></i></a></li>
                                <li><a href="pages-treeview.html">Treeview <i class="ti-layout-menu-v"></i></a></li>
                                <li><a href="pages-utility-classes.html">Helper Classes <i class="icon-compass"></i></a></li>
                                <li><a href="pages-search-result.html">Search result <i class="icon-hourglass"></i></a></li>
                                <li><a href="pages-scroll.html">Scrollbar <i class="icon-equalizer"></i></a></li>
                                <li><a href="pages-pricing.html">Pricing <i class="ti-money"></i></a></li>
                                <li><a href="pages-lightbox-popup.html">Lighbox popup <i class="ti-light-bulb"></i></a></li>
                                <li><a href="pages-gallery.html">Gallery <i class="ti-gallery"></i></a></li>
                                <li><a href="pages-faq.html">Faqs <i class="icon-social-foursqare"></i></a></li>
                                <li><a href="javascript:void(0)" class="has-arrow">Error Pages</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="pages-error-400.html">400 <i class="ti-info-alt"></i></a></li>
                                        <li><a href="pages-error-403.html">403 <i class="ti-info"></i></a></li>
                                        <li><a href="pages-error-404.html">404 <i class="ti-face-sad"></i></a></li>
                                        <li><a href="pages-error-500.html">500 <i class="ti-help"></i></a></li>
                                        <li><a href="pages-error-503.html">503 <i class="ti-infinite"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-pie-chart"></i><span class="hide-menu">Charts</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="chart-morris.html">Morris Chart <i class="ti-stats-up"></i></a></li>
                                <li><a href="chart-chartist.html">Chartis Chart <i class="ti-bar-chart"></i></a></li>
                                <li><a href="chart-echart.html">Echarts <i class="icon-chart"></i></a></li>
                                <li><a href="chart-flot.html">Flot Chart <i class="mdi-chart-histogram"></i></a></li>
                                <li><a href="chart-knob.html">Knob Chart <i class="ti-pulse"></i></a></li>
                                <li><a href="chart-chart-js.html">Chartjs <i class="mdi mdi-chart-areaspline"></i></a></li>
                                <li><a href="chart-sparkline.html">Sparkline Chart <i class="icon-graph"></i></a></li>
                                <li><a href="chart-extra-chart.html">Extra chart <i class="ti-stats-down"></i></a></li>
                                <li><a href="chart-peity.html">Peity Charts <i class="mdi mdi-chart-pie"></i></a></li>
                            </ul>
                        </li> -->
                        
                        
                     <!--    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-light-bulb"></i><span class="hide-menu">Icons</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="icon-material.html">Material Icons <i class="icon-social-reddit"></i></a></li>
                                <li><a href="icon-fontawesome.html">Fontawesome Icons <i class="ti-github"></i></a></li>
                                <li><a href="icon-themify.html">Themify Icons <i class="ti-themify-logo"></i></a></li>
                                <li><a href="icon-weather.html">Weather Icons <i class="ti-shine"></i></a></li>
                                <li><a href="icon-simple-lineicon.html">Simple Line icons <i class="icon-emotsmile"></i></a></li>
                                <li><a href="icon-flag.html">Flag Icons <i class="ti-flag"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-location-pin"></i><span class="hide-menu">Maps</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="map-google.html">Google Maps <i class="mdi mdi-google-maps"></i></a></li>
                                <li><a href="map-vector.html">Vector Maps <i class="mdi mdi-map-marker"></i></a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Multi level dd</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void(0)">item 1.1<i class="ti-align-left"></i></a></li>
                                <li><a href="javascript:void(0)">item 1.2<i class="ti-align-left"></i></a></li>
                                <li> <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Menu 1.3<i class="ti-align-left"></i></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="javascript:void(0)">item 1.3.1<i class="ti-list-ol"></i></a></li>
                                        <li><a href="javascript:void(0)">item 1.3.2<i class="ti-list-ol"></i></a></li>
                                        <li><a href="javascript:void(0)">item 1.3.3<i class="ti-list-ol"></i></a></li>
                                        <li><a href="javascript:void(0)">item 1.3.4<i class="ti-list-ol"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">item 1.4<i class="ti-align-left"></i></a></li>
                            </ul>
                        </li> -->
                        
                        <li class="nav-small-cap"></li>
                        <li> <a class="waves-effect waves-dark" href="../documentation/documentation.html" aria-expanded="false"><i class="far fa-circle text-danger"></i><span class="hide-menu">Nous contacter</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-login.html" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">A propos</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-faq.html" aria-expanded="false"><i class="far fa-circle text-info"></i><span class="hide-menu">Aide</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Creation d'un Chantier</h4>
                    </div>
                  <!--   <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/creer-nouveau-employe}">
                            	<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Nouveau</button>
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Finaliser le formullaire</h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->

                               <div class="container my-5">
				       
				        <div class="card">
				            <div class="card-body">
				                <div class="col-md-10">
				                    <form action="#" th:action="@{/savechantier}" th:object="${chantier}" method="post">
				                        <div class="row">
				                            <div class="form-group col-md-8">
				                                <label for="nom" class="col-form-label">Responsable du Chantier</label> <input type="text" th:field="*{nom}" class="text-danger"></span>
				                            </div>
				                            
				                      
				                        <!--     <div class="form-group col-md-8">
								                 <label>Responsable:</label><br>
												  	<select th:field="*{responsable}">
												  		<option th:each="responsable : ${employelist}" th:value="${responsable.idEmploye}" th:text = "${responsable.nom}">
												  	</select> <br> <br>
				                            </div> -->
											
				
											  <div class="form-group col-md-8">
								                 <label>Engins: <select th:field="*{engin}">
												  		<option th:each="engin : ${enginlist}" th:value="${engin.idEngin}" th:text = "${engin.nom}">
												  	</select> <br> <br></label><br>
												  	
				                            </div>
											 
											 
				                            <div class="form-group col-md-8"></div>
				
				                        </div>
				                        <br>
											<br>
											
				                       <!-- Gestion des boutons -->
											<div class="container">
											 <div class="col-md-8 align-self-center text-right">
											  <a th:href="@{/chantier/new-chantier}"> <button type="button" class="btn btn-info"> Retour</button></a>
											   <a th:href="@{/chantier/touschantiers}"> <input type="submit" class="btn btn-primary" value="Finaliser"> </a>  
						                       <a th:href="@{/}"> <button type="button" class="btn btn-danger"> Sortir</button></a>
					                         </div>
											</div>
											
				                         
				                       
				
				                    </form>
				                </div>
				            </div>
				        </div>
				    </div>
                                
                            </div>
                        </div>
                    </div>
				</div>
				
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/1.jpg}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/2.jpg}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/3.jpg}" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/4.jpg}" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/5.jpg}" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/6.jpg}" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/7.jpg}" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/8.jpg}" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2019 Elegent Admin by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/node_modules/jquery/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/node_modules/popper/popper.min.js}"></script>
    <script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/dist/js/perfect-scrollbar.jquery.min.js}"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/node_modules/sticky-kit-master/../static/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/node_modules/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.min.js}"></script>
    <!-- jQuery peity -->
    <script th:src="@{/assets/node_modules/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/assets/node_modules/peity/jquery.peity.init.js}"></script>
</body>

</html>