<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin/" />
    <!-- Footable CSS -->
    <link th:href="@{/assets/node_modules/footable/css/footable.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/node_modules/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
    <!-- Page CSS -->
    <link th:href="@{/dist/css/pages/contact-app-page.css}" rel="stylesheet">
    <link th:href="@{/dist/css/pages/footable-page.css}" rel="stylesheet">
	<!-- =================================== -->
	<!-- DROP FILE CSS -->
	<link rel="stylesheet" th:href="@{/assets/node_modules/dropify/dist/css/dropify.min.css}">
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>

<body class="skin-default-dark fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elegant admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/employe/dashboard-employe/}">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img th:src="@{/assets/images/logo-light-icon.png}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img th:src="@{/assets/images/logo-light-text.png}" class="light-logo" alt="homepage" /></span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light"
                                href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <ul>
                                    <li>
                                        <div class="drop-title bg-primary text-white">
                                            <h4 class="m-b-0 m-t-5">4 New</h4>
                                            <span class="font-light">Notifications</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new
                                                        admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that
                                                        you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this
                                                        template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my
                                                        admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center m-b-5" href="javascript:void(0);"> <strong>Check
                                                all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="icon-note"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                                <span class="with-arrow"><span class="bg-danger"></span></span>
                                <ul>
                                    <li>
                                        <div class="drop-title text-white bg-danger">
                                            <h4 class="m-b-0 m-t-5">5 New</h4>
                                            <span class="font-light">Messages</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/1.jpg}"
                                                        alt="user" class="img-circle"> <span
                                                        class="profile-status online float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my
                                                        admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/2.jpg}"
                                                        alt="user" class="img-circle"> <span
                                                        class="profile-status busy float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See
                                                        you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/3.jpg}"
                                                        alt="user" class="img-circle"> <span
                                                        class="profile-status away float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span>
                                                    <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"> <img th:src="@{/assets/images/users/4.jpg}"
                                                        alt="user" class="img-circle"> <span
                                                        class="profile-status offline float-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my
                                                        admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link m-b-5" href="javascript:void(0);"> <b>See
                                                all e-Mails</b> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown"> <a
                                class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="ti-layout-width-default"></i></a>
                            <div class="dropdown-menu animated bounceInDown">
                                <ul class="mega-dropdown-menu row">
                                    <li class="col-lg-3 col-xlg-2 m-b-30">
                                        <h4 class="m-b-20">CAROUSEL</h4>
                                        <!-- CAROUSEL -->
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="container"> <img class="d-block img-fluid"
                                                            th:src="@{/assets/images/big/img1.jpg}" alt="First slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid"
                                                            th:src="@{/assets/images/big/img2.jpg}" alt="Second slide">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid"
                                                            th:src="@{/assets/images/big/img3.jpg}" alt="Third slide"></div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls"
                                                role="button" data-slide="prev"> <span
                                                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                                                    class="sr-only">Previous</span> </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls"
                                                role="button" data-slide="next"> <span
                                                    class="carousel-control-next-icon" aria-hidden="true"></span> <span
                                                    class="sr-only">Next</span> </a>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </li>
                                    <li class="col-lg-3 m-b-30">
                                        <h4 class="m-b-20">ACCORDION</h4>
                                        <!-- Accordian -->
                                        <div id="accordion" class="nav-accordion" role="tablist"
                                            aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                            Collapsible Group Item #1
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse show" role="tabpanel"
                                                    aria-labelledby="headingOne">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse"
                                                            data-parent="#accordion" href="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Collapsible Group Item #2
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel"
                                                    aria-labelledby="headingTwo">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse"
                                                            data-parent="#accordion" href="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Collapsible Group Item #3
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel"
                                                    aria-labelledby="headingThree">
                                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1"
                                                    placeholder="Enter Name"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3"
                                                    placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-4 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                                                    You can give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                                                    Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                                                    Another Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                                                    Forth link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                                                    Another fifth link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    th:src="@{'/img/' + ${currentUser.getId()} +'.jpg'}" alt="user" class="img-circle" width="30"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                                    <div class=""><img th:src="@{'/img/' + ${currentUser.getId()} +'.jpg'}" alt="user" class="img-circle"
                                            width="60"></div>
                                    <div class="m-l-10">
                                        <h4 class="m-b-0"><span th:text="${currentUser.getUsername()}" ></span></h4>
                                        <p class=" m-b-0" th:text="${currentUser.getEmail()}">varun@gmail.com</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" th:href="@{'/employe/profile/' + ${currentUser.getId()}}"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/employe/profile/' + ${currentUser.getId()} + '#settings'}"><i
                                        class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/logout}"><i
                                        class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="p-l-30 p-10"><a th:href="@{'/employe/profile/' + ${currentUser.getId()}}"
                                        class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light"
                                href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
       <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img th:src="@{/assets/images/logo-icon.png}" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Employes<span class="badge badge-pill badge-cyan">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li th:each="post : ${postes}">
									<a th:href="@{'/poste/' + ${post.getId()} + '-members'}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li>
<!--                                 <li><a href="index2.html">Condcuteur <i class="far fa-circle text-info"></i></a></li> -->
<!--                                 <li><a href="index3.html">Mecani <i class="far fa-circle text-danger"></i></a></li> -->
<!--                                 <li><a href="index4.html">Modern <i class="far fa-circle text-success"></i></a></li> -->
<!--                                 <li><a href="index5.html">Cryptocurrency <i class="far fa-circle text-primary"></i></a></li> -->
                            </ul>
                        </li>
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-media-right-alt"></i><span class="hide-menu">Chantier</span></a>
                            <ul aria-expanded="false" class="collapse">
								<li th:each="post : ${postes}">
									<a th:href="@{'/specific-post/' + ${post.id}}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li>
                            </ul>
                        </li>
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Tables</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="table-basic.html">Basic Tables <i class="ti-widgetized"></i></a></li> -->
<!--                                 <li><a href="table-layout.html">Table Layouts <i class="ti-layout-accordion-list"></i></a></li> -->
<!--                                 <li><a href="table-data-table.html">Data Tables <i class="ti-widget"></i></a></li> -->
<!--                                 <li><a href="table-footable.html">Footable <i class="ti-layout-accordion-merged"></i></a></li> -->
<!--                                 <li><a href="table-jsgrid.html">Js Grid Table <i class="ti-layout-placeholder"></i></a></li> -->
<!--                                 <li><a href="table-responsive.html">Responsive Table <i class="ti-layout-accordion-separated"></i></a></li> -->
<!--                                 <li><a href="table-bootstrap.html">Bootstrap Tables <i class="ti-layout"></i></a></li> -->
<!--                                 <li><a href="table-editable-table.html">Editable Table <i class="ti-pencil-alt"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Widgets</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="widget-data.html">Data Widgets <i class="icon-puzzle"></i></a></li> -->
<!--                                 <li><a href="widget-apps.html">Apps Widgets <i class="icon-drawar"></i></a></li> -->
<!--                                 <li><a href="widget-charts.html">Charts Widgets <i class="ti-bar-chart-alt"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
                        <li class="nav-small-cap"></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-gallery"></i><span class="hide-menu">Engin </span></a>
                            <ul aria-expanded="false" class="collapse">
								<li th:each="post : ${postes}">
									<a th:href="@{'/specific-post/' + ${post.id}}" th:text="${post.nom}"> <i class="far" th:classappend="${post.nom == 'Responsable'} ? fa-circle text-warning : fa-circle text-info"></i></a>
								</li>
                            </ul>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-files"></i><span class="hide-menu">Entretiens <span class="badge badge-pill badge-info">25</span></span></a> </li>
                        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-pie-chart"></i><span class="hide-menu">Pannes </span></a> </li>
                        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-light-bulb"></i><span class="hide-menu">Reparations </span></a> </li>
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-location-pin"></i><span class="hide-menu">Maps</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="map-google.html">Google Maps <i class="mdi mdi-google-maps"></i></a></li> -->
<!--                                 <li><a href="map-vector.html">Vector Maps <i class="mdi mdi-map-marker"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Multi level dd</span></a> -->
<!--                             <ul aria-expanded="false" class="collapse"> -->
<!--                                 <li><a href="javascript:void(0)">item 1.1<i class="ti-align-left"></i></a></li> -->
<!--                                 <li><a href="javascript:void(0)">item 1.2<i class="ti-align-left"></i></a></li> -->
<!--                                 <li> <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Menu 1.3<i class="ti-align-left"></i></a> -->
<!--                                     <ul aria-expanded="false" class="collapse"> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.1<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.2<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.3<i class="ti-list-ol"></i></a></li> -->
<!--                                         <li><a href="javascript:void(0)">item 1.3.4<i class="ti-list-ol"></i></a></li> -->
<!--                                     </ul> -->
<!--                                 </li> -->
<!--                                 <li><a href="javascript:void(0)">item 1.4<i class="ti-align-left"></i></a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
                        <li class="nav-small-cap"></li>
                        <li> <a class="waves-effect waves-dark" href="../documentation/documentation.html" aria-expanded="false"><i class="far fa-circle text-danger"></i><span class="hide-menu">Documentation</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-login.html" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">Log Out</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-faq.html" aria-expanded="false"><i class="far fa-circle text-info"></i><span class="hide-menu">FAQs</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">YATT CORPORATED</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myEmployeModal" >
                            	<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false}" type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer User</button>
                            </a>
			                <!-- ============================================================== -->
			                          <!-- MODEL CREATE EMPLOYE -->
			                <!-- ============================================================== -->
                            <div id="myEmployeModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myEmployeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Add Employe</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
			                                <form class="form-horizontal p-t-20" enctype="multipart/form-data" th:action="@{/employe/save-employe}" th:object="${newEmploye}" method="post">
												<!-- NOM -->
												<div class="form-group row">
			                                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nom*</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-user"></i></span></div>
			                                                <input th:field="*{nom}" type="text" required="required" class="form-control" id="exampleInputuname3" placeholder="Nom">
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- PRENOM -->
												<div class="form-group row">
			                                        <label for="exampleInputuname3" class="col-sm-3 control-label">Prenom*</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-user"></i></span></div>
			                                                <input th:field="*{prenom}" type="text" required="required" class="form-control" id="exampleInputuname3" placeholder="Prenom">
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- USERNAME -->
			                                    <div class="form-group row" th:classappend="${username} ? 'has-danger' : ''">
			                                        <label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-user"></i></span></div>
			                                                <input th:field="*{username}" type="text" required="required" class="form-control" th:classappend="${username} ? 'form-control-danger' : ''" id="exampleInputuname3" placeholder="Username">
															<div th:if="${username}" class="form-control-feedback">Sorry, that username's taken or less than 6 characters !</div>
			                                            </div>
			                                        </div>

												<!-- EMAIL -->
			                                    </div>
			                                    <div class="form-group row" th:classappend="${email} ? 'has-danger' : ''">
			                                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-email"></i></span></div>
			                                                <input th:field="*{email}" type="email" required="required" class="form-control" th:classappend="${email} ? 'form-control-danger' : ''" id="exampleInputEmail3" placeholder="Enter email">
															<div th:if="${email}" class="form-control-feedback">Sorry, that email's taken or Invalid. Try another !</div>
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- Phone -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Phone</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cellphone"></i></span></div>
			                                                <input th:field="*{phone}" type="number" required="required" class="form-control" id="web" placeholder="Enter Phone Number">
			                                            </div>
			                                        </div>
			                                    </div>
			                                    
												<!-- ROLE -->
												<div class="form-group row">
                                                    <label class="control-label col-md-3">Roles</label>
                                                    <div class="col-md-9">
                                                        <select th:field="*{poste}" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                            <option th:each="post : ${postes}" th:value="${post.id}" th:text="${post.nom}">Category</option>
                                                        </select>
                                                    </div>
                                                </div>

												<!-- SALAIRE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Salaire</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-cash-usd"></i></span></div>
			                                                <input th:field="*{salaire}" type="number" class="form-control" id="web" placeholder="Enter Amount">
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- ADRESSE -->
			                                    <div class="form-group row">
			                                        <label for="web" class="col-sm-3 control-label">Adresse</label>
			                                        <div class="col-sm-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-home-map-marker"></i></span></div>
			                                                <input th:field="*{adresse}" type="text" class="form-control" id="web" placeholder="Enter Adresse">
			                                            </div>
			                                        </div>
			                                    </div>

												<!-- DATE D'EMBAUCHE -->
                                                <div class="form-group row">
                                                    <label for="web" class="col-sm-3 control-label">Date</label>
                                                    <div class="col-md-9">
			                                            <div class="input-group">
			                                                <div class="input-group-prepend"><span class="input-group-text"><i class="mdi mdi-calendar-question"></i></span></div>
															<input th:field="*{date}" type="date" required="required" class="form-control" placeholder="dd/mm/yyyy">
			                                            </div>
                                                    </div>
                                                </div>
							                    
                                                <!-- PROFILE IMAGE -->
												<div class="col-lg-12 col-md-12">
							                        <div class="card">
							                            <div class="card-body">
							                                <h4 class="card-title">Upload Profile Image</h4>
							                                <!-- <label for="input-file-now">Your so fresh input file — Default version</label> -->
							                                <input type="file" id="input-file-now" name="file" class="dropify" />
							                            </div>
							                        </div>
							                    </div>
							                    
							                    <!-- SAVE BUTTON -->
												<div class="modal-footer">
													<button type="submit" class="btn btn-info">Save</button>
													<button type="button" class="btn btn-default waves-effect"
														data-dismiss="modal">Cancel</button>
												</div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            
                <!-- ============================================================== -->
                          <!-- CREATE ROLES -->
                <!-- ============================================================== -->
<!--                             <a class="image-popup-no-margins" href="..." title="title will be apear here"><img src="..."/></a> -->
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" >
                            	<button th:disabled="${currentUser.postNom().contentEquals('Responsable') == false}" type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Creer Role</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content MODIF IN DASHBOARD -->
                <!-- Start Page Content MODIF IN DASHBOARD -->
                <!-- ============================================================== -->
                <div class="row" layout:fragment="page-content">
                    <div class="col-12">
                        <div class="card">
                            <!-- .left-right-aside-column-->
                            <div class="contact-page-aside">
                                <!-- .left-aside-column-->
                                <div class="left-aside bg-light-part">
                                    <ul class="list-style-none">
                                        <li class="box-label"><a href="http://localhost:8080/employe/dashboard-employe">All Roles
                                                <span>123</span></a></li>
                                        <li class="divider"></li>
                                        <li class="box-label d-flex" th:each="poste : ${postes}">
                                        	<a th:href="@{'/poste/' + ${poste.getId()} + '-members'}" class="col-md-10 align-self-left text-left">[[${poste.getNom()}]] </a>
											<span>123</span>
                                        	<a th:if="${currentUser.postNom().contentEquals('Responsable') == true}"  href="javascript:void(0)"  data-toggle="modal" data-target="#myEditPosteModal"><i class="mdi mdi-pencil"></i></a>
                                        	<a th:if="${currentUser.postNom().contentEquals('Responsable') == true}" href="#" th:onclick="|roleDeleteConfirmation(${poste.getId()})|"><i class="mdi mdi-delete"></i></a>
                                        </li>
                                        <li th:if="${currentUser.postNom().contentEquals('Responsable') == true}" class="box-label">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#myModal" class="btn btn-info text-white">+ Create New Role</a>
                                        </li>

										<!-- ===================================================== -->
										<!-- MODAL TO EDIT POSTE -->
										<!-- ===================================================== -->
                                        <div id="myEditPosteModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel">Edit Role</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" action="#" th:action="@{/poste/edit}" th:object="${newPoste}" method="post">
                                                            <div class="form-group">
                                                                <label class="col-md-12">Nom actuel</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" required="required" class="form-control" placeholder="entre nom" th:field="*{oldNom}"> 
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-md-12">Nouveau Nom</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" required="required" class="form-control" placeholder="entre nom" th:field="*{nom}"> 
                                                                </div>
                                                            </div>
                                                            
															<div class="modal-footer">
																<button type="submit" class="btn btn-info">Save</button>
																<button type="button" class="btn btn-default waves-effect"
																	data-dismiss="modal">Cancel</button>
															</div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        
										<!-- ===================================================== -->
										<!-- MODAL TO CREATE POSTE -->
										<!-- ===================================================== -->
                                        <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel">Add Role</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" action="#" th:action="@{/poste/save-poste}" th:object="${newPoste}" method="post">
                                                            <div class="form-group">
                                                                <label class="col-md-12">Nom du role</label>
                                                                <div class="col-md-12">
                                                                    <input type="text" required="required" class="form-control" placeholder="entre nom" th:field="*{nom}"> 
                                                                </div>
                                                            </div>
															<div class="modal-footer">
																<button type="submit" class="btn btn-info">Save</button>
																<button type="button" class="btn btn-default waves-effect"
																	data-dismiss="modal">Cancel</button>
															</div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                    </ul>
                                </div>
                                <!-- /.left-aside-column-->
                                <div class="right-aside ">
                                    <div class="right-page-header">
                                        <div class="d-flex">
                                            <div class="align-self-center">
                                                <h4 class="card-title m-t-10">Contacts / Employee List </h4>
                                            </div>
                                            <div class="ml-auto">
                                                <input type="text" id="demo-input-search2" placeholder="Search by username"
                                                   onkeyup="searchOnType()"  class="form-control"> </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow"
                                            class="table table-bordered m-t-30 table-hover contact-list no-wrap"
                                            data-paging="true" data-paging-size="7">
											<thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Role</th>
                                                    <th>Joining date</th>
                                                    <th>Salaire</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTableBody">
												<tr th:each="employe : ${employes}" th:if="${employe.getUsername().contentEquals('default') == false}">
													<td th:text="${employe.getId()}"> id </td>
													
                                                    <td><a th:href="@{'/employe/profile/' + ${employe.getId()}}" th:text="${employe.getUsername()}"><img
                                                           th:src="@{/assets/images/users/4.jpg}" alt="user" width="40"
                                                                class="rounded-circle" /> username </a>
													</td>

													<td th:text="${employe.getEmail()}"> email </td>

													<td th:text="${employe.getPhone()}"> Phone </td>

													<td> 
														<span class="label" th:classappend="${employe.postTag()}" th:text="${employe.postNom()}"></span>
													</td>

													<td th:text="${#dates.format(employe.getDate(), 'dd-MMM-yyyy')}"> date </td>

													<td>
														<div><i class="mdi mdi-cash-usd"></i><span th:text="${currentUser.postNom().contentEquals('Responsable')} ? ${employe.getSalaire()} : 'XXXXXXX'"></span></div>
													</td>

													<td th:if="${currentUser.postNom().contentEquals('Responsable') == true}">
														  <a href="#" th:onclick="|myConfirmation(${employe.getId()})|"><i class="mdi mdi-delete"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- .left-aside-column-->
                                </div>
                                <!-- /.left-right-aside-column-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
                        </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a>
                                </li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark"
                                        class="default-dark-theme working">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark"
                                        class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a>
                                </li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark"
                                        class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark"
                                        class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark"
                                        class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/1.jpg}" alt="user-img"
                                            class="img-circle"> <span>Varun Dhavan <small
                                                class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/2.jpg}" alt="user-img"
                                            class="img-circle"> <span>Genelia Deshmukh <small
                                                class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/3.jpg}" alt="user-img"
                                            class="img-circle"> <span>Ritesh Deshmukh <small
                                                class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/4.jpg}" alt="user-img"
                                            class="img-circle"> <span>Arijit Sinh <small
                                                class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/5.jpg}" alt="user-img"
                                            class="img-circle"> <span>Govinda Star <small
                                                class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/6.jpg}" alt="user-img"
                                            class="img-circle"> <span>John Abraham<small
                                                class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/7.jpg}" alt="user-img"
                                            class="img-circle"> <span>Hritik Roshan<small
                                                class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img th:src="@{/assets/images/users/8.jpg}" alt="user-img"
                                            class="img-circle"> <span>Pwandeep rajan <small
                                                class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2019 Elegent Admin by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/node_modules/jquery/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/node_modules/popper/popper.min.js}"></script>
    <script th:src="@{/assets/node_modules/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/dist/js/perfect-scrollbar.jquery.min.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/node_modules/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!-- Footable -->
    <script th:src="@{/assets/node_modules/moment/moment.js}"></script>
    <script th:src="@{/assets/node_modules/footable/js/footable.min.js}"></script>
    <script th:src="@{/assets/node_modules/bootstrap-select/bootstrap-select.min.js}" type="text/javascript"></script>
    <!--FooTable init-->
    <!-- <script th:src="@{/dist/js/pages/footable-init.js}"></script> -->
    
    <!-- SEARCH INPUT WITH KEY UP -->
    <script th:src="@{/dist/js/customs/searchOnType.js}"></script>
    
   	<!-- =================================== -->
	<!-- SCRIPT FOR ADD FOOTER AND DELETE CONFIRMATION -->
    <script>
        $(function () {
            $('#demo-foo-addrow').footable();
        });
        
        function myConfirmation(id) {
        	  var r = confirm("EST VOUS SURE DE VOULOIR EFFECTUER CETTE ACTION !?");
        	  if (r == true) {
        	    window.location = "http://localhost:8080/employe/delete/"+id;
        	  } else {
        	    txt = "You pressed Cancel!";
        	  }
        }
        /* DELETE ROLE CONFIRMATION */
        function roleDeleteConfirmation(id) {
        	  var t = confirm("EST VOUS SURE DE VOULOIR EFFECTUER CETTE ACTION !?");
        	  if (t == true) {
        	    window.location = "http://localhost:8080/poste/delete/"+id;
        	  } else {
        	    txt = "You pressed Cancel!";
        	  }
        }
   </script>

   	<!-- =================================== -->
	<!-- DISPLAY ERROR ON MODEL ADD NEW EMPLOYE -->
   <script th:inline="javascript">

    var modalShow = [[${modalShow}]];
	if(modalShow == true){
 		$(document).ready(function(){
			$("#myEmployeModal").modal('show');
		});
	}

	</script>
	
	<!-- ============================================================== -->
    <!-- jQuery file upload -->
	<!-- UPLOAD FILE SCRIPT -->
	<script th:src="@{/assets/node_modules/dropify/dist/js/dropify.min.js}"></script>
	<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
    </script>

</body>

</html>