<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Gestion des employes  -->
<div layout:fragment="tableChant" class="row">
                <!-- Gestion des employes  -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Chantier </h4>
<!--                                 <h6 class="card-subtitle">Add class <code>.table</code></h6> -->
                                <div class="table-responsive">               
                                 <table class="table">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Nom</th>
                                                <th>Adresse</th>
                                                 <th>Date debut</th>
                                                  <th>Date fin</th>
                                                 <th>Action</th>
                                               <!--  <th>Responsable</th>
                                                <th>Engin</th>  -->
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="chantier : ${chantiers}">
                                                <td th:text="${chantier.idChantier}"> id </td>
                                                <td th:text="${chantier.nom}"> nom </td>
                                                <td th:text="${chantier.adresse}"> adresse </td>
                                               <!--  <td th:text="${chantier.adresse}"> adresse </td>
                                                <td th:text="${chantier.adresse}"> adresse </td> -->
                                               <!--   <td th:text="${chantier.DateDebut}"> adresse </td> -->
                                                 <td th:text="${#dates.format(chantier.DateDebut, 'dd-MMM-yyyy')}"></td>
                                                  <td th:text="${#dates.format(chantier.Datefin, 'dd-MMM-yyyy')}"></td>
                                                  
                                                  
                                            <!--    <td  th:text="${#temporals.format(chantier.DateDebut,'dd-MM-yyyy')}"></td>  --> 
                                               
                                                <!--  <td th:text="${chantier.Datefin}"> adresse </td> -->
                                                
                                              <!--   <td th:text="${chantier.responsable}"> responsable </td>
                                                <td th:text="${chantier.engin}"> engin </td> -->
                                               <!--  <td >
                                                	<a th:href="@{'/chantier/editChantier/' + ${chantier.idChantier}}">MODIFIER</a>
                                                	&nbsp;&nbsp;||&nbsp;&nbsp;
                                                	<a th:href="@{'/chantier/deleteChantier/' + ${chantier.idChantier}}">DELETE</a>
                                                	&nbsp;&nbsp;||&nbsp;&nbsp;
                                                	<a th:href="@{'/chantier/detailChantier/' + ${chantier.idChantier}}">DETAIL</a>
                                                </td> -->
                                                
                                                
                                                  <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-dark dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="ti-settings"></i>
                                                        </button>
                                                        <div class="dropdown-menu animated slideInUp"
                                                            x-placement="bottom-start"
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                                            <a class="dropdown-item" th:href="@{'/chantier/detailChantier/' + ${chantier.idChantier}}"><i
                                                                    class="ti-eye"></i> Detail</a>
                                                            <a class="dropdown-item" th:href="@{'/chantier/editChantier/' + ${chantier.idChantier}}"><i
                                                                    class="ti-pencil-alt"></i> Modifier</a>
                                                            <a class="dropdown-item" th:href="@{'/chantier/deleteChantier/' + ${chantier.idChantier}}"><i
                                                                    class="ti-trash"></i> Supprimer</a>
                                                            <!-- <a class="dropdown-item" th:href="@{'/engin/etat-engin/' + ${engin.idEngin}}"><i
                                                                    class="ti-comment-alt"></i> Etats</a> -->
                                                                    
                                                        </div>
                                                    </div>
                                                </td>
                                                
<!--                                                 <td th:text=""><span class="label label-danger">admin</span> </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
                        </div>
                    </div>
				</div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
</body>

</html>