<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Nom</th>
										<th>tag</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="poste : ${postes}">
										<td th:text="${poste.nom}"> nom </td>
										<td th:text="${poste.tag}"> tag </td>
									</tr>
								</tbody>
							</table>
</body>
</html>